[2017-03-08 09:21] jacoscaz opened #1 "Supporting the RDF.JS interface"
As suggested by @elf-pavlik in https://github.com/mcollina/levelgraph/issues/43#issuecomment-284721147 .

See specs: https://github.com/rdfjs/representation-task-force/blob/master/interface-spec.md

Status:

- [X] Sink interface (`.import()`)
- [X] Source interface (partial `.match()` without regexp support)
- [x] Store interface (`.remove()`, `.removeMatches()`, `.deleteGraph()`)

[2017-03-08 09:24] jacoscaz opened #2 "Contributing back to LevelGraph"
Can our indexing strategy be ported to LevelGraph?

[2017-03-08 09:33] jacoscaz opened #3 "Advanced queries (searches)"
How to implement advanced queries? We need a few key components:

- query planner
- query optimizer
- query executor

The optimizer could go in a later release.

How to implement joins? I've had a preliminary look and it looks like the "merge-sort join" algorithm would be a good pick as we're using lexicographically-ordered index keys.

[2017-03-08 19:45] jacoscaz commented on #2
Quad duplication has been eliminated by 7dc3d47c86a2792b41ab5cbf6f8738917b66fe05 .

[2017-03-08 20:06] jacoscaz commented on #1
The following guideline contained in the specs
    Given the necessity of methods, plain objects (JSON) cannot be used.
introduces potential performance penalties as it requires transforming all plain objects to class instances.

To preserve access to the native interface, we could make the rdf interface available via some method such as
    const interface = store.getRdfInterface();
that would re

[2017-03-08 21:19] elf-pavlik commented on #1
@RubenVerborgh just mentioned on https://gitter.im/rdfjs/Representation-Task-Force?at=58c011fa1465c46a5602aaa1switching from very minimalistic plain object N3 used to those interface had minimal performance impact. I believe he can offer much more feedback on that and possibly soon report his experience in more detail on https://github.com/rdfjs/representation-task-force/issues/67

[2017-03-08 21:25] RubenVerborgh commented on #1
@jacoscaz There is no performance penalty associated with "transforming plain objects to class instances": plain objects are also class instances (Object), and all modern JavaScript engines are specifically tailored to excel on objects with the same shape (i.e., all property accesses will be translated to machine code).

The small performance penalty that I took with N3.js, as mentioned by @elf-pa

[2017-03-08 21:34] elf-pavlik opened #4 "Add browser support"
LevelGraph works in node.js as well as in web browsers, does node-quadstore also work in web browsers?

[2017-03-08 21:41] jacoscaz commented on #4
Untested and I suspect we need to pass options from our constructor to leveldb's but node-quadstore should work in web browsers just fine.

[2017-03-08 23:08] jacoscaz commented on #1
Thanks to @elf-pavlik and @RubenVerborgh for the excellent brainstorming on Gitter. Strategy:

- implement an additional rdf layer on top of node-quadstore a subclass of QuadStore called RdfStore;
- accept a [DataFactory](https://github.com/rdfjs/representation-task-force/blob/master/interface-spec.md#datafactory) instance as an option of the RdfStore constructor;
- use an instance of [AsyncIterat

[2017-03-08 23:13] jacoscaz commented on #4
See https://github.com/maxogden/level.js/blob/master/test/test-levelup.js - this might already work.

[2017-03-09 00:18] elf-pavlik commented on #4
In LevelGraph one needs to require leveljs, create factory using it and pass it to levelup
https://github.com/mcollina/levelgraph#browserify

I think you may need to adjust how you call levelup https://github.com/beautifulinteractions/node-quadstore/blob/82ecfdb6bffe47e5eb59cbc512202bb788715555/index.js#L137

[2017-03-09 15:22] elf-pavlik commented on #4
I remember LevelGraph using https://www.npmjs.com/package/zuul to run tests in a browser as well as test it cross browser using SauceLabs

[2017-03-14 11:51] jacoscaz opened #11 "Mocha suite fails randomly when using leveldown"
When using leveldown as a levelup backend, unit tests fail randomly with no apparent reason.  Any specific unit test might succeed during one run and fail during the next one. The issue disappears if we replace leveldown with memdown.

[2017-03-14 11:54] jacoscaz opened #12 "Add unit tests to verify serialization to leveldb"
Currently, a `store.put()` is verified via a `store.get()`, thus conflating two different unit tests into one. Each method of our own should be verified using levelup's own methods (`store._db.*`).

[2017-03-16 14:08] dmitrizagidulin opened #15 "Support Promise interface (in addition to callback)"
hi @jacoscaz - great project! Having been a fan of levelgraph, I'm really excited to try out `node-quadstore`.

Do you have any plans to support a Promise-returning interface to your various async methods? Either instead of, or in addition to the old-style callback interface that they're using right now. As in, if there is no callback param, return a promise (otherwise, invoke the callback as usua

[2017-03-16 17:28] jacoscaz commented on #15
Hello @dmitrizagidulin . We appreciate your kind words! Just a word of caution: `node-quadstore` is still under heavy development. Expect the unexpected!

We were just wondering about support for Promise(s) within the Graph API (the RDF/JS one will follow the RDF/JS spec). Considering `Bluebird`'s `promisifyAll()` we opted to focus on a basic, callback-based API to begin with. Do you think we shou

[2017-03-16 17:42] dmitrizagidulin commented on #15
Definitely, please consider supporting Promises natively. A lot of developers are allergic to having to install Bluebird just for the promisify aspect.

I'm fairly sure all of the RDF/JS async functions return Promises. Consider also that W3C recommends using Promises exclusively, in all future JS-related specs. "Going forward, all asynchronous operations of this type should be specified to instea

[2017-03-16 18:59] jacoscaz commented on #15
@dmitrizagidulin I see your point. We'll squeeze in support for `Promise`(s) in the Graph API in as we continue to work on `node-quadstore`.

Oh the other side, the low-level RDF/JS interface seems to be based upon `stream.Readable`(s) and `events.EventEmitter`(s), at least as far as I can understand. No `Promise`(s).

[2017-03-16 19:32] dmitrizagidulin commented on #15
Yeah, you're right, the store/sink stuff is Stream based instead.

(Thanks!!)

[2017-03-17 09:29] jacoscaz commented on #1
Closing this. Will track bugs and enhancements in dedicated issues.

[2017-03-17 09:29] #1 closed

[2017-03-17 09:33] jacoscaz commented on #15
@dmitrizagidulin I'm working on promises here https://github.com/jacoscaz/node-quadstore/tree/promises/ . Shouldn't take long.

[2017-03-20 09:31] jacoscaz commented on #15
Closing this one. Bugs and enhancements should go into dedicated issues.

[2017-03-20 09:31] #15 closed

[2017-03-20 13:59] dmitrizagidulin commented on #15
Awesome, thank you!

[2017-03-20 17:37] jacoscaz commented on #3
Potential strategy:

1) order queries based on approxResultSize() and variables (each query should have a variable in common with the next one)
2) execute first query, re-order results based on second query's vars as they stream in
3) execute next query. filter results from previous query as those from the query stream in, re-order results based on next query's vars
4) repeat 4 for each query

See

[2017-03-21 16:23] elf-pavlik commented on #3
I think @RubenVerborgh could offer some feedback based on implementing [Linked Data Fragments](http://linkeddatafragments.org/) servers. I also remember talking with him and @bergos about using something similar to LevelGraph's navigator API (https://github.com/rdf-ext/clownface) as higher level interface for RDF Stores. From what I remember Triple Pattern Fragments require Stores to provide fast

[2017-03-21 16:26] RubenVerborgh commented on #3
There's much more to say about this than can possibly fit in a comment here. Count are part of the input of the query planner indeed. We'll be working on a generic SPARQL engine the coming months/years, in which this could be plugged in, but I'm not sure whether the timeframes will match.

[2017-03-23 11:09] jacoscaz commented on #12
Postponed to v0.2.0 in favour of advanced queries as that is what we need internally.

[2017-03-23 11:11] jacoscaz commented on #3
Moved forward to v0.1.0 in place of better unit tests due to internal requirements.

[2017-03-23 13:27] jacoscaz opened #18 "Gather feedback from users"
- @dmitrizagidulin
- @bigbluehat
- @jmatsushita
- @elf-pavlik

[2017-03-23 13:27] jacoscaz commented on #3
Closing this one. Bugs and new features shall go into dedicated issues.

[2017-03-23 13:27] #3 closed

[2017-03-23 13:35] dmitrizagidulin commented on #18
Happy to! I'll try wiring it up to rdflib and play around with it.

Couple of quick comments:

1. maybe the `delput()` and `getdelput()` are better named `patch()`? The SPARQL patch interface is intended exactly for that use case -- a specification of quads to delete and quads to insert.
2. The [RDF/JS interface for Quad](https://github.com/rdfjs/representation-task-force/blob/master/interface-spe

[2017-03-23 14:12] dmitrizagidulin commented on #18
References for the `patch()` comment:

* [TurtlePatch Proposal](https://www.w3.org/2001/sw/wiki/TurtlePatch), note the two `DELETE WHERE` and `INSERT DATA` sections. (This is equivalent semantics to your `getdelput()` method.)
* [SPARQL 1.1 Update recommendation](https://www.w3.org/TR/sparql11-update/#graphUpdate), specifically meant for RDF Graph Stores. The main difference from the Turtle Patch

[2017-03-23 14:57] jacoscaz commented on #18
Wonderful suggestion. Thank you! I'll open an issue straight away. With regards to point 2), if you are using the QuadStore class the name of the context term can be configured via this option: `new QuadStore({ contextKey: 'graph' });`

[2017-03-23 15:02] jacoscaz opened #19 "API change: refactor delput() and getdelput() into patch()"
As per @dmitrizagidulin's suggestion in #18

**Proposed API change**

```.patch(Array|Object delete, Array insert)```

If delete is of type Array, treat it as DELETE DATA (explicit list of quads to delete), and if delete is of type Object, treat it as DELETE WHERE (like getdelput currently does).

**References**

[2017-03-23 15:11] dmitrizagidulin commented on #18
Ah, nice (re `contextKey`).

Any reason to not just use `graph`, tho? (Or maybe see if you can get the RDF/JS spec to change to `context`, if you prefer that one?)

[2017-03-23 15:14] jacoscaz commented on #18
Not really on our part. While researching we realised that a quadstore could also be used outside the RDF world and that some libraries were using different keywords for the fourth term, hence our decision to make that configurable (and to implement support for the RDF/JS interface in a dedicated class).

[2017-03-23 15:20] dmitrizagidulin commented on #18
No prob, makes sense.

(It's probably worth mentioning `contextKey` in the README / docs, then.)

[2017-03-23 16:20] jacoscaz commented on #19
Done, closing.

[2017-03-23 16:20] #19 closed

[2017-03-23 21:01] elf-pavlik commented on #18
It looks like RdfStore sets it correctly
https://github.com/beautifulinteractions/node-quadstore/blob/master/lib/rdfstore.js#L20
[code]

[2017-03-25 21:16] jacoscaz opened #21 "Better checks for arguments"
More checks for non-optional and optional args must be added.

[2017-03-25 21:17] jacoscaz opened #22 "README: add more info about arguments"
More info about non-optional and optional arguments in README must be added.

[2017-03-27 17:59] jacoscaz opened #24 "README: add note about leveldown dependency"

[2017-03-27 17:59] jacoscaz opened #25 "README: expand examples on how to use the dataFactory implementation"

[2017-03-31 08:31] jacoscaz commented on #21
Done, closing.

[2017-03-31 08:31] #21 closed

[2017-03-31 08:31] jacoscaz commented on #22
Done, closing.

[2017-03-31 08:31] #22 closed

[2017-03-31 08:31] jacoscaz commented on #25
Done, closing.

[2017-03-31 08:31] #25 closed

[2017-03-31 08:31] jacoscaz commented on #24
Done, closing.

[2017-03-31 08:31] #24 closed

[2017-04-04 13:37] BigBlueHat opened #27 "The word `context` is confusing in the intro"
First, thanks for building this project!

Second, I found the use of the word `context` confusing in the [introduction](https://github.com/beautifulinteractions/node-quadstore#introduction)

Especially: `(subject, predicate, object, context)`

Most other quadstores/libraries express that as `(subject, predicate, object, graph)` (in my limited experience).

Change it would a) match prevailing conve

[2017-04-04 13:58] jacoscaz commented on #27
Hello @BigBlueHat . Thank you for your feedback, we appreciate it. I hadn't thought about the possibility of `context` being confused with JSONLD's `@context`.  Perhaps, in addition to changing the introduction, the default value for the `contextKey` option (https://github.com/beautifulinteractions/node-quadstore#quadstore-class) should be `graph`. What do you think?

Also, are you thinking of usi

[2017-04-04 14:05] BigBlueHat commented on #27
Yeah, I'd change it throughout--at least if your focus is RDF-based input.

Is there a difference between `context` and `graph`? Especially as regards [this paragraph](https://github.com/beautifulinteractions/node-quadstore#quadstore-class):

I guess I don't see the need for a distinction between the `spog` and `spoc` objects nor of having it be configurable (again assuming RDF).

[2017-04-04 14:08] BigBlueHat commented on #27
I'll be keeping an eye on quadstore, for sure, but I'm pretty committed to LevelGraph these days (see https://wileylabs.github.io/levelgraph-playground/ for one).

My hope, though, is that all of this becomes "core" or "shared" across these libraries. Ideally, we'll all work together to reduce the measure of differences, but continue to innovate for our own needs/use cases.

Collaborate FTW and al

[2017-04-04 14:38] BigBlueHat commented on #27
Here are the [terms that the N-Quads spec uses](https://www.w3.org/TR/n-quads/#grammar-production-nquadsDoc):
[code]

So--within that spec at least--they use the term `graphLabel` (rather than the more frequently seen `graph` term).

Interestingly, the document that pre-dates this actual spec was called "N-Quads: Extending N-Triples with Context." So. It's not a new term conflict apparently. 😃

Ch

[2017-04-05 08:50] jacoscaz commented on #27
@BigBlueHat thank you for pointing me to those documents. Much appreciated. With the `QuadStore` class we aim to implement a quadstore that makes as few assumptions as possible about the sort of quads it has to deal with. Hence why the fourth term's key is configurable. However, the vast majority of interest in `quadstore` comes from the RDF world and we ourselves are working on it because we need

[2017-04-17 15:36] #27 closed

[2017-04-17 15:38] jacoscaz commented on #27
Too late to fix the commit's title (no backticks allowed!), unfortunately. This should now be fixed.

[2017-04-18 12:01] jmatsushita opened #31 "More level-ish interface?"
Hi there,

Just giving a try to node-quadstore and I wonder if it would make sense to provide a more `level`-ish interface to allow getting a store instance with:

[code]

Allowing this to work with `level-sublevel` would also follow.

Cheers,

Jun

[2017-04-18 12:13] jacoscaz commented on #31
@jmatsushita thank you for your suggestion.

The reason why I opted for `levelup` instead of `level` is that I did not want `leveldown` to become a dependency of `node-quadstore`. However, it shouldn't be hard to support both an instance of `level` and the current `path` string as the first argument of the `QuadStore` constructor. I'll look into this soon.

[2017-04-18 15:26] jmatsushita opened #32 "Allow del with matchPattern"
Hi there,

I ran into something I found counter-intuitive. I was trying out `db.patch` and then switched to `db.del` and couldn't understand why the delete didn't occur until I realised (reading the doc) that `del` doesn't support the matchPattern syntax. It would be quite nice for consistency (and functionality) if `del` acted like the first argument of patch (array means actual deletes, and sing

[2017-04-18 15:28] jmatsushita commented on #32
Of course a quick workaround was to use `.patch(matchPattern, [], done)`

[2017-04-18 15:51] jacoscaz commented on #32
@jmatsushita could you please create a different issue for each of these points? I think they're all very good and deserve to be tracked separately.

[2017-04-18 15:52] jmatsushita opened #33 "Add delExisting and putNew"
From ##32

[2017-04-18 15:53] jmatsushita opened #34 "Chaining delete with query"
From #32

[2017-04-18 15:53] jmatsushita commented on #32
There you go :)

[2017-04-20 17:11] jacoscaz commented on #34
@jmatsushita which of the following would you like to see implemented?

1. `store.query().del()`
2. `store.remove(store.query())`?

I feel option n. 2 is cleaner and almost identical to the `.remove()`method from the `RdfStore` class, so I would be inclined to go with that.

[2017-04-20 17:18] jacoscaz commented on #33
To clarify:

- putNew acts like put but throws for quads already present in the store.
- delExisting acts like del but throws for quads that are not present in the store.

Another way to do this could be through a dedicated `opts` like `opts.throwIf(Not)Exist`.

[2017-04-20 19:55] jacoscaz commented on #31
@jmatsushita I've implemented support for pre-instantiated level-y objects. It's currently living here: https://github.com/jacoscaz/node-quadstore/tree/level (brach `level`). If you're able, could you please give it a try? It should work exactly as you suggested bar the fact that some form of `valueEncoding` must be passed to the constructor of the level-y object. The default serialiser can be use

[2017-04-21 16:33] jacoscaz commented on #32
@jmatsushita this one should now work as expected. We'll release on NPM over the next few days.

[2017-04-21 16:34] jmatsushita commented on #32
Great!

[2017-04-21 16:35] jmatsushita commented on #33
Yes that's what I meant. Dedicated `opts` would indeed work too!

[2017-04-21 16:35] jacoscaz commented on #31
@jmatsushita merged into this repo.

[2017-04-21 16:40] jmatsushita commented on #34
Ah yes, I was thinking 1 because it looks nicer but I can live with 2 especially if its close to the RDFJS API!

[2017-04-22 18:01] jacoscaz opened #37 "Create devel branch, keep master in sync with NPM"

[2017-04-24 12:41] jacoscaz commented on #37
Done, closing.

[2017-04-24 12:41] #37 closed

[2017-04-24 12:46] jacoscaz commented on #34
@jmatsushita we've incorporated your suggestions within a bigger refactor of the whole API as we were not 100% happy about it and wanted to do a reach a more stable version of it before starting to use node-quadstore internally. You can now do either of the following:

1. `store.query().del((err) => {})`
2. `store.delStream(store.query().getStream(), (err) => {})`

Closing this one, bugs should go

[2017-04-24 12:46] #34 closed

[2017-04-24 12:47] jacoscaz commented on #32
We have now released this feature in version 2.1.1. Closing this one, bugs should go into dedicated issues.

[2017-04-24 12:47] #32 closed

[2017-04-24 12:48] jacoscaz commented on #31
We have now released this feature in version 2.1.1. Closing this one, bugs should go into dedicated issues.

[2017-04-24 12:48] #31 closed

[2017-06-07 08:41] jmatsushita opened #39 "Range queries"
Hi there,

I need to do range queries such as `{ subject: 'foo*' }` which would get all the quads with a subject starting with `foo`. I can already do them today with a query and filter, but of course it would be much faster if using the underlying leveldb index. I guess something like the [10 lines of code of `level-range`](https://github.com/juliangruber/level-range/blob/master/index.js#L14-L24)

[2017-06-07 09:11] jacoscaz commented on #39
Hello Jun.

I'm thinking about the changes to support this. I think the easiest thing to do is altering the query logic so that in the presence of a *single* matching term with a `*` suffix like `{ subject: 'subje*' }` the params passed to leveldb become

```{ start: 'SPOG<separator>subje', end: 'SPOG<separator>subje<boundary>' }```

instead of the current

```{ start: 'SPOG<separator>subje*', end

[2017-06-07 10:23] jmatsushita commented on #39
Maybe exposing the start end API for each indices? It will would be quick
and more thought can be put in a higher level API later as it's likely that
it will happen when thinking about the SPARQL side of RDF/JS?

Otherwise there are other levelup search plugins that have some cool apis
too...

On 7 Jun 2017 11:11, "Jacopo Scazzosi" <notifications@github.com> wrote:

Hello Jun.

I'm thinking about

[2017-06-07 10:30] jmatsushita commented on #39
Just to be clearer I meant allowing to have query params that are either strings
[code]

or objects
[code]

Its not very pretty, but it's flexible and lets LevelUp do the job :)

[2017-06-07 10:34] jmatsushita commented on #39
And with regards to cool api plugins I mean this one that caught my eye https://github.com/eugeneware/jsonquery but is feels quite foreign to the linked data world :)

[2017-06-07 10:47] jacoscaz commented on #39
That's a good idea, I like it. How would you handle a query with additional terms such as

```{ subject: { start: "subje", end: "subje\u9999" }, predicate: "predicate" }```

? As leveldb only supports prefix matching rather than full pattern matching, this would require joining two different queries, one for the subject and one for the predicate. I'm hesitant to include higher-level querying logic

[2017-06-07 10:50] jacoscaz commented on #39
Perhaps limiting the query to a single index could do? Something like
```queryTerm('subject', 'subje', 'subje\u9999')```

[2017-06-07 10:50] jmatsushita commented on #39
Oh I didn't notice this yet, does this mean that currently you can't have multiple terms? Or does this do a join under the hood?

In any case, if using prefix matching somewhat restricts what you can do, then it makes sense to only allow a single range query, and use the join API for further elaborating queries.

[2017-06-07 10:52] jmatsushita commented on #39
Yes to limiting, but I would prefer named parameters in a plain object (as I don't use the RDF interface currently).

[2017-06-07 11:05] jacoscaz commented on #39
Literally just updated my comment to use named params... :).

You can do queries on multiple terms but you cannot do queries on multiple terms with custom start/end params because those would require full pattern matching (if using a single index). To translate this in regex-y terms...

[code]

The last one requires matching not only by prefix but also by pattern, a feature not currently supported

[2017-06-07 11:12] jmatsushita commented on #39
:)

Ah yes, I understand now the structure of the quad index gets in the way.

Very much so, English is not my primary language either but I understand you very well! :)

I think that the ease to create a new index, is the feature :)

Actually, allowing to access the quadstore indices via the underlying leveldb instance might be a good way to extend quadstore (for instance with a [text search inde

[2017-06-07 11:50] jacoscaz commented on #39
Definitely a very nice idea for a new issue. Will open it later.

As per this issue, I can't decide whether it'd be worth introducing new methods such as  `getByTerm(termName, { start, end })` and `getByTermStream(termName, { start, end })` or postpone this until support for extending `quadstore` is ready.

What do you think?

[2017-06-07 12:11] jacoscaz opened #40 "Extending quadstore"
What if someone requires additional indexes for context-specific queries? How can `quadstore` support extensions?

### Additional methods

##### `registerIndex(String indexName, Function keyGenerator)`

- `indexName` - name of index to be created
- `keyGenerator` - function that generates an index key from a quad

##### `queryIndex(String indexName, Object opts)` and `queryIndexStream(String index

[2017-06-07 12:14] jacoscaz commented on #39
Also see #40

[2017-06-07 12:55] jmatsushita commented on #39
I think it makes sense doing it as long as the second Param is optional as
it will help give visibility to the new feature. You can mention its
experimental and that the API might change in the future.

On 7 Jun 2017 13:50, "Jacopo Scazzosi" <notifications@github.com> wrote:

[2017-06-07 12:58] jmatsushita commented on #40
Would registerIndex create a new index or use an existing one? It would be good to use an existing one to benefit from the leveldb ecosystem.

[2017-06-07 13:22] jmatsushita commented on #40
Ah think I see, you do mean an existing one, but it needs to be registered to match keys during the joins? I think I need to think more about this and play with `search-index` to contribute better to the conversation :) The main use case I was thinking of was to reuse a search index with a quadstore instance.

[2017-06-19 16:55] jmatsushita opened #41 "More advanced joins"
Hi there,

Currently I believe it's only possible to join two queries by an identical property (i.e. `predicate` to `predicate`)

It would be great to be able to join queries by joining on different fields. This kind of API would do I guess:
[code]

Allowing to still pass strings would keep backward compatibility, and allowing objects would enable joining by different properties.

What do you thin

[2017-06-19 17:28] jacoscaz commented on #41
Hello @jmatsushita. This is a fantastic suggestion. I have a few hours of spare time coming up. I'll look into this and #40 .

[2017-06-19 17:29] jmatsushita commented on #41
Great ! :)

[2017-06-19 19:12] jacoscaz commented on #40
@jmatsushita have a look at https://github.com/jacoscaz/node-quadstore/blob/indexes/test/quadstore.js#L672 . It's a basic demonstration of the api I was thinking about. The test implements an index that would take care of #39 . What do you think?

[2017-07-05 15:18] jacoscaz commented on #40
@jmatsushita ?

[2017-07-05 22:14] jacoscaz commented on #41
Some preliminary work about this here: https://github.com/jacoscaz/node-quadstore/blob/joins/test/quadstore.js#L586

I've had to slightly changed your proposal as I needed to maintain the ordering of term names:

[code]

[2017-07-06 12:32] jacoscaz commented on #39
Closing as lack of time led to #40 taking over this one.

[2017-07-06 12:32] #39 closed

[2017-07-06 12:33] jacoscaz commented on #41
See pull request #43

[2017-07-06 12:34] jacoscaz commented on #40
See pull request #42

[2017-07-11 06:41] jacoscaz commented on #41
Closing, available on NPM in quadstore@2.2.0-alpha .

[2017-07-11 06:41] #41 closed

[2017-07-11 06:42] jacoscaz commented on #40
Closing, available on NPM in quadstore@2.2.0-alpha .

[2017-07-11 06:42] #40 closed

[2017-09-02 13:08] jacoscaz opened #46 "Implement a HTTP API"
Alternatives:

- [Triple Pattern Fragments server](https://github.com/LinkedDataFragments/Server.js)

[2017-09-08 12:36] jmatsushita opened #47 "Benchmarks"
Hi there!

It would be nice to have loading and querying benchmarks like [dgraph vs neo4j](https://docs.dgraph.io/performance/) or [dgraph vs cayley](https://github.com/ankurayadav/graphdb-benchmarks).

Any approach you'd prefer?

Jun

[2017-09-08 14:25] jmatsushita opened #48 ""outer" join"
Hi,

It would be nice to have an "outer" join such that this code:
[code]

Instead of outputting currently:
[code]

Would output the third triple too (matching from queryB). i.e.
[code]

Cheers,

Jun

[2017-09-08 14:38] jacoscaz commented on #47
Hello Jun.

Yes, benchmarks are very much something I'd like to introduce. I have yet to think about a suitable approach, though. What are the questions you would like to be answered by a benchmark suite?

[2017-09-08 14:42] jacoscaz commented on #48
This should be reasonably easy to implement by adding a `outerJoin` method which modifies the behaviour of the `JoinStream` object by allowing all triples from the first query to go through.

Something like:

[code]

[2017-09-08 14:42] jmatsushita commented on #47
Hi Jacopo,

I'm thinking load time with the streaming interface (with the N3.js reader) for the [21million.rdf](https://github.com/ankurayadav/graphdb-benchmarks/tree/master/data) file. And then an equivalent query to [this one](https://github.com/ankurayadav/graphdb-benchmarks/blob/master/dgraph/queries.go#L31-L46).

That would make things _somewhat_ comparable at least with cayley and dgraph whi

[2017-09-11 16:54] jacoscaz commented on #33
What about stream? Would this need to support streams (via `.on('error', (DuplicateQuadError err) => {})`)?

[2017-09-13 09:40] jacoscaz commented on #48
@jmatsushita

Sorting this out is harder than I thought but I *think* I've got it working here: https://github.com/jacoscaz/node-quadstore/tree/outer-join .

Would you be able to test this?

[2017-09-13 10:30] jmatsushita commented on #48
Hi @jacoscaz

I just gave it a try with the code above and it doesn't terminate.

I added some debug code and it seems that your `_drainA` function just keeps draining even though the `quad` is `null`.

How is `keepDraining` set to false [here](https://github.com/jacoscaz/node-quadstore/blob/1b73e4c36567762df91ad0a4743298cfd1d8aeb6/lib/query/outer-join-query.js#L41-L49)?

Jun

[2017-09-13 16:27] jacoscaz commented on #48
Hi @jmatsushita

Thank you for your help with testing this. That should now be fixed at https://github.com/jacoscaz/node-quadstore/tree/outer-join. I've also fixed a few bugs related tuples being left out of joins using partial term names (i.e. looking at less terms than the full set of 4 terms). This needs a ton more unit tests to cover all edge cases but, if you can spare the time, some hands-on

[2017-09-13 16:45] jmatsushita commented on #48
Hi @jacoscaz

Just pulled and relaunched and saw this with the above code:
[code]

So I think this is outputting duplicates...

Cheers,

Jun

[2017-09-28 07:38] jacoscaz commented on #48
Hello @jmatsushita . Sorry for the wait.

While working on this issue we unearthed a few other issues with the general join mechanism and ended up rewriting both the `innerJoin` and `outerJoin` logic from the start.

In addition to this, we've thought a bit about what a `join`, an `innerJoin` and a `outerJoin` should be. Even though the current release behaves as described in the `README`

we're t

[2017-10-05 21:38] elf-pavlik opened #50 "features needed for implementing Linked Data Fragment - Datasource interface"
This issue captures conversation started in https://github.com/beautifulinteractions/node-quadstore/issues/3#issuecomment-288134220

I think node-quadstore could provide a nice addition to the data sources already available for Linked Data Fragments server.

https://github.com/LinkedDataFragments/Server.js#configure-the-data-sources

I recall work on having such LDF server Datasource interface for

[2017-10-06 07:53] jacoscaz commented on #50
@elf-pavlik Yes. This would also help offloading querying logic to the already working LDF ecosystem, which would definitely help (we're struggling a bit with allocating enough time to figure that out at the moment). However, it is mandatory for us to have full support for *quads*, not triples. What's the state of graphs in the LDF ecosystem?

[2017-10-06 07:53] jacoscaz commented on #50
/cc @jmatsushita

[2017-10-06 07:55] RubenVerborgh commented on #50
@jacoscaz We have a branch with quad support, called Quad Pattern Fragments. Demo at http://data-beta.linkeddatafragments.org/nanopublications, and further details can be obtained through @rubensworks.

[2017-10-06 08:13] jacoscaz commented on #50
@RubenVerborgh does that branch allow for queries like the following?

[2017-10-06 08:15] RubenVerborgh commented on #50
The server only supports single quad patterns at a time; more complex patterns are resolved by the client.

[2017-10-06 08:21] jacoscaz commented on #50
I see. https://github.com/LinkedDataFragments/Client.js/commits/feature-qpf-latest looks promising. What's the ETA for this to be released?

I will have a look at adding an implementation of the `Datasource` interface to `quadstore` and test it using the QPF versions of the LDF client and server. If that gets us to support complex queries and SPARQL... Oh boy, that would be huge.

[2017-10-06 08:23] RubenVerborgh commented on #50
ASAP 😄  I'll let @rubensworks comment on this.

Great, let me know if there's any trouble. Note that, in the upcoming version 3.x, we are introducing a packaging system such that datasources can be released as independent npm packages easily.

[2017-10-06 10:58] jacoscaz commented on #50
@RubenVerborgh can I configure and start `ldf-server` programmatically? The package does export everything in `/lib` through `module.js` but configuration parsing seems to happen in `/bin/ldf-server`. What I'm trying to do is fire up an instance of `ldf-server` with a custom datasource whilst retaining access to the datasource's underlying store.

[2017-10-06 11:10] RubenVerborgh commented on #50
Yes! For now, just fork the repo and define your datasource inside of it, as you can see for example here: https://github.com/KMiOpenBlockchain/Server.js

[2017-10-06 11:23] jacoscaz commented on #50
I've seen what https://github.com/KMiOpenBlockchain/Server.js/commit/364a8477094d968ef24e2cbf9c21e48d867d2ffc does but it seems to still require launching `ldf-server` via cmd line as the initialisation of the configured datasources happens in `/bin/ldf-server`.

Basically, what I'm after is something like:

[code]

Is this possible ATM?

[2017-10-06 11:53] RubenVerborgh commented on #50
That is possible indeed, it's more or less [what `/bin/ldf-server` is doing](https://github.com/LinkedDataFragments/Server.js/blob/v2.2.2/bin/ldf-server#L170).

[2017-10-06 18:03] elf-pavlik commented on #50
@jacoscaz I might sidetrack here, with https://github.com/substack/level-party one should have possibility to run ldf-server as one process and 'something else' as another process and both processes would access the same leveldb.

[2017-10-06 22:16] jacoscaz commented on #50
@elf-pavlik @RubenVerborgh I've added preliminary support for retrieving the approximate count and managed to port all that's happening in `ldf-server/bin/ldf-server.js` to a function that allows me to create an instance of `ldf-server` from within `quadstore` code with a custom Datasource. It definitely needs some polishing but it does seem to work well. Thanks to the LDF server I was able to bro

[2017-10-06 22:31] rubensworks commented on #50
QPF-support will be part of LDF server 3.x.x, which is feature complete at the moment. It just needs some more testing, which is something I will continue doing next week. So if everything goes well, the release should follow soon after that. A new QPF-supporting LDF client will be released together with that.

[2017-10-09 14:52] jacoscaz commented on #50
@RubenVerborgh @elf-pavlik @rubensworks @jmatsushita

I've done a little more experimental work on this and it most definitely works. A few notes:

1. As a HTTP API is on our radars and I wasn't too happy with how the integration with the `ldf-server` module was going, I've written a proper server module from scratch that exposes an LDF endpoint (following https://www.hydra-cg.com/spec/latest/trip

[2017-10-09 14:56] jacoscaz commented on #50
This would help getting rid of the HTTP roundtrip: https://github.com/LinkedDataFragments/Client.js/issues/12

[2017-10-09 15:01] RubenVerborgh commented on #50
Great!

Cool!

Perhaps, but it is also very incomplete still. We are working on a next-generation engine, but there is no ETA yet.

That definitely makes sense!

[2017-10-09 17:36] jacoscaz commented on #11
This one seems to have vanished with Node.js 6.x and Mocha 3.x. Closing, will re-open is needed.

[2017-10-09 17:36] #11 closed

[2017-10-09 17:42] jacoscaz opened #51 "RDF/JS + LDF HTTP API"
- [x] GET /ldf
    - LDF-compatible endpoint
- [x] GET /match
    - Query params: subject,  predicate, object, graph, offset, limit
    - Returns a `application/trig` or `application/n-quads` stream
- [x] POST /insert
    - Accepts a `application/trig` or `application/n-quads` stream
- [x] POST /remove
    - Accepts a `application/trig` or `application/n-quads` stream
- [x] Add basic tests for all

[2017-10-09 17:43] jacoscaz opened #52 "SPARQL queries"
Implement `RdfStore.prototype.sparql(query)` method using `ldf-client` and the `/ldf` endpoint of #51 .

[2017-10-09 17:44] elf-pavlik commented on #50
Awesome work @jacoscaz and very fast progress :running_man:

I hope to take couple of days soon to work on some experiments I have in mind which will use LDF and node-quadstore. Should have some more useful feedback to offer then!

Do you work on it in some public repo or currently still keep this project private?

[2017-10-09 17:45] RubenVerborgh commented on #50
Currently private until we figure things out, plan is open!

[2017-10-09 17:48] jacoscaz opened #53 "Deprecate or re-write query layer"
Deprecate the current query layer in favour of #52 . Alternatively, rewrite the current query layer to use SPARQL queries.

[2017-10-09 17:52] jacoscaz opened #54 "Fix behaviour of getApproximateSize()"
There are two issues with `QuadStore.prototype.getApproximateSize()`:

- [x] LevelDB's `.approximateSize()` returns the number of bytes, not records. How to convert? I've read somewhere that `levelgraph` has tried using `approximateSize/128` as a reference number. Perhaps we could keep track of the current avg. size of our quads? Would probably need to be re-computed every now and then, though.
-

[2017-10-09 17:54] jacoscaz commented on #50
Closing this one and tracking all the issues in #51, #52, #54 and #53 . Thanks everyone!

[2017-10-09 17:55] #50 closed

[2017-10-09 17:56] jacoscaz commented on #46
Closing in favour of #51

[2017-10-09 17:56] #46 closed

[2017-10-09 17:58] jacoscaz commented on #4
@elf-pavlik we have no use for this but we're open to work on it if the community is interested. Would it be worth the effort? Is there anyone who'd be willing to help? There's a lot to figure out for this.

[2017-10-09 18:01] jacoscaz commented on #2
Closing as very unlikely due to the complexity of levelgraph's codebase. Also, https://github.com/levelgraph/levelgraph/issues/167.

[2017-10-09 18:01] #2 closed

[2017-10-09 19:18] jacoscaz opened #55 "Switch to asynciterators"
There's a lot of streaming inside `quadstore` that could benefit from `asynciterator`'s leaner approach.

[2017-10-09 20:32] jacoscaz opened #56 "Fix ECONNRESET in Mocha suite"
It seems like there's no way to force the `ldf-client` instance to close its connection to the server before the latter calls `socket.destroy()`. This triggers a `ECONNRESET` error - currently unhandled - that breaks the mocha suite.

Related issue on `ldf-client`'s repo: https://github.com/LinkedDataFragments/Client.js/issues/39

[2017-10-09 22:11] elf-pavlik commented on #54
It looks like @pietercolpaert worked on that https://github.com/levelgraph/levelgraph/pull/72#issuecomment-46307997 maybe he will have some helpful suggestions.

[2017-10-12 23:03] jacoscaz commented on #56
Used https://github.com/nodejs/node/issues/2642 as a workaround. It augments native `http.Server` instances with a `.stop()` method that closes all connections, keep-alive ones included, but waits until each becomes idle (no in-flight requests) before doing so. Also see https://github.com/nodejs/node/issues/2642.

[2017-10-12 23:03] #56 closed

[2017-10-12 23:06] jacoscaz commented on #52
Done, will be in 3.0

[2017-10-12 23:06] #52 closed

[2017-10-12 23:17] jacoscaz commented on #50
@elf-pavlik if and when you get around to tinker with `quadstore`, use branch v3.0 straight from github and the undocumented `store.sparql()` method.

[2017-10-13 09:37] jacoscaz commented on #55
See

- https://github.com/Level/abstract-leveldown#abstractleveldown_iteratoroptions
- https://github.com/Level/memdown/blob/master/memdown.js#L211
- https://github.com/rubenverborgh/AsyncIterator

[2017-10-13 14:07] jacoscaz commented on #54
I've done tests to verify the `128` value and it does seem to hold as a good average number, although there's a high variation between different datasets. As for the `0` value for smaller datasets, this is something that needs more research and testing, perhaps with someone from leveldb's team. It is not necessary for v3.0 release, though, as the ldf endpoint does count returned quads and corrects

[2017-10-13 14:07] #54 closed

[2017-10-16 15:31] jacoscaz commented on #53
Done!

[2017-10-16 15:31] #53 closed

[2017-10-16 18:42] jacoscaz commented on #51
Done!

[2017-10-16 18:42] #51 closed

[2017-10-16 18:43] jacoscaz commented on #50
@elf-pavlik have you had any chance to tinker with `quadstore`? No pressure meant, just wondering if you have some feedback :)

[2017-10-19 09:00] jacoscaz commented on #48
Closing as advanced query capabilities are now provided through `ldf-client` and the `RdfStore.prototype.sparql()` method (see #51, #52, #53).

[2017-10-19 09:00] #48 closed

[2017-10-19 09:05] jacoscaz opened #59 "Switch to the RDF/JS version of N3.js and remove redundant (de)serialization"
See https://github.com/RubenVerborgh/N3.js/pull/118

[2017-10-20 10:19] jacoscaz opened #60 "Add SPARQL HTTP endpoint using ldf-client-http"
See https://github.com/LinkedDataFragments/Client.js/issues/42

[2017-10-23 09:15] jacoscaz commented on #60
Done, merged in `devel` branch.

[2017-10-23 09:15] #60 closed

[2017-11-01 16:14] Frando opened #61 "JSON-LD support"
Does node-quadstore support direct loading of JSON-LD (including context handling)? If not, is it a planned feature?
Same would be nice for output (so returning query results as JSON-LD).

Basically, does something like [levelgraph-jsonld](https://github.com/levelgraph/levelgraph-jsonld) exist for node-quadstore?

[2017-11-01 16:23] akuckartz commented on #61
:+1:

[2017-11-01 16:27] jacoscaz commented on #61
Hello @Frando. Thank you for checking out `quadstore`! At the moment we're not thinking of implementing direct JSON-LD loading as we'd like to stick to the [RDF/JS Interface Specification](https://github.com/rdfjs/representation-task-force/blob/master/interface-spec.md) and leave such a thing to dedicated modules.

I am unsure as to whether the `jsonld` module currently supports the RDF/JS Interfa

[2017-11-01 16:32] elf-pavlik commented on #61
* https://github.com/rdf-ext/rdf-parser-jsonld
* https://github.com/rdf-ext/rdf-serializer-jsonld-ext

[2017-11-01 16:32] jacoscaz commented on #61
For reference:
- https://github.com/rdf-ext/rdf-parser-jsonld
- https://github.com/rdf-ext/rdf-serializer-jsonld

[2017-11-01 16:34] jacoscaz opened #62 "Publish a public roadmap"

[2017-11-01 16:38] Frando commented on #61
Hi,
thanks all for the quick replies :-) This looks quite good actually, I will try things out.

[2017-11-03 13:17] jacoscaz commented on #62
Done in `devel` branch.

[2017-11-03 13:17] #62 closed

[2017-11-03 13:18] jacoscaz commented on #61
@Frando have you had any luck with this? Any feedback on `quadstore` itself or the overall process?

[2017-11-03 13:27] Frando commented on #61
@jacoscaz not yet, this was for the time being more of an evaluation question. I'll report back once I get around to try things out actually.

[2018-09-03 08:27] jacoscaz opened #63 "Get rid of asynctools"
`asynctools` was an experiment that should have never made it into quadstore's dependencies. Get rid of it.

[2018-09-04 15:36] jacoscaz commented on #61
Closing this as it's been inactive for a while. @Frando I'll reopen if needed.

[2018-09-04 15:36] #61 closed

[2018-09-04 16:09] jacoscaz commented on #33
@jmatsushita are you still interested in this feature?

[2018-09-04 16:12] jacoscaz commented on #4
@elf-pavlik is this something the community might still be interested in?

[2018-09-05 07:49] jacoscaz opened #65 "Replace current SPARQL engine with @comunica/actor-init-sparql-rdfjs"
The current SPARQL engine depends on `Client.js`, which has been superseded by https://github.com/comunica/comunica/ .

[2018-09-07 22:25] jacoscaz opened #66 "Add tests for /sparql and /ldf endpoints and leveldb serialization"
More tests are needed across the entire API.

[2018-09-10 10:32] jacoscaz commented on #66
Done - released in v4.0.1

[2018-09-10 10:32] #66 closed

[2018-09-10 10:32] jacoscaz commented on #59
Done - released in v4.0.1

[2018-09-10 10:32] #59 closed

[2018-09-10 10:32] jacoscaz commented on #65
Done - released in v4.0.1

[2018-09-10 10:32] #65 closed

[2018-09-10 10:33] jacoscaz commented on #12
Refactoring the entire test suite would have taken too big of an effort. We've opted for adding dedicated serialization tests.

[2018-09-10 10:34] jacoscaz commented on #12
Done - released in v4.0.1

[2018-09-10 10:34] #12 closed

[2018-09-26 08:35] jacoscaz commented on #4
Revisiting this issue as we might have a use case for having an in-browser quadstore. What is needed for this?

- [ ] eliminate node-only dependencies
    - [ ] extract http layer and repackage into separate npm package
- [ ] transform ES6 / ES7 syntax to ES5
- [ ] create browser bundle
- [ ] add level.js to the tested backends
- [ ] run level.js tests in-browser

The bundle will doubtlessly becom

[2018-10-05 09:30] jacoscaz commented on #4
Done in v5.0.2!

[2018-10-05 09:30] #4 closed

[2019-03-27 22:30] elf-pavlik opened #69 "index-browser.js doesn't export RdfStore"
I didn't make PR adding that export wanting to check first if you really need separate `browser` entry point and `quadstore.umd-bundle.js` in the repo.

Looking at https://github.com/beautifulinteractions/node-quadstore#browser I would find it sufficient to recommend `level-js` module, provide snippet from the `<script>` tag in that section and point people to webpack, rollup, browserify documenta

[2019-03-27 22:33] elf-pavlik commented on #69
I haven't mentioned that webpack building for web will use `package.json` fields in order: `['browser', 'module', 'main']`
https://webpack.js.org/configuration/resolve/#resolvemainfields

Which means that it currently uses `index-browser.js` not `index.js`

[2019-08-15 08:17] ahka01 opened #70 "Provide examples"
May provide a working example how to use the library to store triples inside it. It would be even better to include also queries using node-quadstore-sparql.

'This sample should parse a triples from a string variable or download a dataset from dbpedia for example. Then how we can query these data using the api of library or using sparql queries form quadstore-spraql.

Then would help a lot to hav

[2019-08-19 08:26] jacoscaz commented on #70
Hello @ahka01 . Apologies for the delay, I was on holiday. You are right, that's a good idea and a good thing to have in the README. I'll get around it over the next few days.

[2019-08-19 08:27] jacoscaz commented on #69
Hello @elf-pavlik . I somehow missed the notification for this feature. I will look at this over the next few days.

[2019-08-20 06:36] ahka01 commented on #70
Thanks a lot @jacoscaz. I am already excited about it.

[2019-08-21 19:01] jacoscaz commented on #69
@elf-pavlik just to make sure I understand what you are suggesting, you're saying I should:

- drop the pre-assembled UMD bundle
- remove the `browser` entry in `package.json`
- simply point people to `level-js` and bundlers such as `webpack` and `rollup` in the `README.md`

Is this correct? If so, why? I am not opposed to this, I just want to understand where you are coming from. Everything that

[2019-08-22 02:08] elf-pavlik commented on #69
I think nowadays most developers know how to get npm modules working in web browser, sometimes it requires build tools and different people prefer different tools - webpack, rollup, browserify etc.

I recall N3.js used to provide automated browser build but then it just changed to that DIY approach. If you want to keep that UMD bundle I see no big problem with that, it would just require making su

[2019-08-22 07:56] jacoscaz commented on #69
No, I think you are right in your assessment. Tools such as webpack and rollup have been around long enough that it doesn't make sense to ship pre-assembled bundles anymore. I'll address the points in my previous comment over the next few days.

By the way, I haven't had time to keep track of RDF/JS' evolution over the last few months. At a glance, is `quadstore` still up-to-date with the latest v

[2019-08-22 12:49] elf-pavlik commented on #69
I use it in some experiments which require RDF/JS Source interface. For example to use this module
https://github.com/valueflows/vf-track-trace.ts I import RdfStore in https://github.com/valueflows/vf-cli.ts but I also started prototyping playground that should work in a browser and draw diagrams with D3.js

I think quadstore stays up to date with RDF/JS drafts and it stays listed on http://rdf.js

[2019-09-05 13:30] jacoscaz commented on #69
@elf-pavlik does #71 solve your issue?

[2019-09-05 13:34] jacoscaz commented on #55
Cleaning up old issues, will reopen a new one if needed.

[2019-09-05 13:34] jacoscaz commented on #33
Cleaning up old issues, will reopen a new one if needed.

[2019-09-05 13:34] #33 closed

[2019-09-05 13:35] #55 closed

[2019-09-05 14:34] elf-pavlik commented on #69
Looks good, thank you!

[2019-09-05 14:34] #69 closed

[2019-09-05 15:03] jacoscaz commented on #69
Published to `npm` as `quadstore@6.0.1`!

[2019-09-23 08:32] jacoscaz opened #72 "Figure out whether we could implement multi-term range queries by changing indexes and/or replacing LevelDB with an alternative backend."
- [x] LevelDB alternatives
- [x] Different indexes

[2019-09-23 08:33] jacoscaz commented on #72
Also see https://github.com/beautifulinteractions/node-quadstore/issues/39

[2019-10-01 08:37] jacoscaz opened #73 "Research alternatives to LevelDB supporting range queries"
## Goal

Add support for range-based queries.

## Check out

- [x] http://taffydb.com
- [x] https://github.com/kripken/sql.js/
- [x] https://github.com/agershun/alasql
- [x] https://github.com/louischatriot/nedb
- [x] https://github.com/pouchdb/pouchdb

## Notes

- TaffyDB
    - last commit in 2018
- sql.js
     - doesn't persist changes unless one dumps to a `TypedArray`
- alasql
    - last publi

[2019-10-01 08:43] jacoscaz commented on #72
Tracking LevelDB alternatives in #73 . As for using different indexes with LevelDB, I can't find a set of indexes that satisfies all of the following:

- limited number of indexes, certainly not superior to 6
- does not require additional filtering / sorting for range queries
- can be persisted from memory to disk 1:1 using leveldb

[2019-10-01 08:43] #72 closed

[2019-10-13 20:46] jacoscaz opened #74 "Support for SPARQL UPDATE"
We're adding native SPARQL support in version 7!

https://www.w3.org/TR/sparql11-update/#updateLanguage

**Quad Management**

- [ ] INSERT DATA (`v7.0.0`, WIP in `feature/sparql-and-complex-searches`)
- [ ] DELETE DATA (`v7.0.0`, WIP in `feature/sparql-and-complex-searches`)
- [ ] INSERT / DELETE (`v7.0.0`, WIP in `feature/sparql-and-complex-searches`)
- [ ] LOAD
- [ ] CLEAR

**Graph Management**

[2019-12-04 09:52] ahka01 commented on #70
Helloe @jacoscaz,
it is a kindly reminder to provide an example how to use the library.
Thanks in advance.

[2019-12-29 21:53] jacoscaz commented on #73
Working on experimental indexing in https://github.com/beautifulinteractions/node-quadstore/tree/feature/experimental-indexing

[2020-01-05 09:40] jacoscaz commented on #70
Hello @ahka01 . Again, apologies for the delay. I should be able to include a few examples on how to use this library in the next release.

[2020-03-15 18:55] jacoscaz commented on #73
Confirmed - will maintain current backend based on `levelup` and merge in support for configurable indexes as implemented in https://github.com/beautifulinteractions/node-quadstore/tree/feature/experimental-indexing

[2020-03-15 18:55] #73 closed

[2020-03-15 18:59] jacoscaz opened #76 "Align with RDF/JS WRT complex query expressions"
See conversation at https://github.com/rdfjs/stream-spec/pull/16, particularly the following comments:
- https://github.com/rdfjs/stream-spec/pull/16#issuecomment-580855388
https://github.com/rdfjs/stream-spec/pull/16#issuecomment-582343923

[2020-03-15 18:59] jacoscaz opened #77 "Add support for complex query expressions, limited to basic single-term filters"
Waiting for #76

[2020-05-03 09:37] jacoscaz commented on #76
Given lack of feedback in https://github.com/rdfjs/stream-spec/pull/16, for the time being I'll focus on a `quadstore`-specific solution (while still trying to make good use of the all-important suggestions over at RDF/JS).

[2020-05-03 09:41] jacoscaz commented on #77
#76 is taking too long and there's little feedback from the RDF/JS community, so I'll things as they are right now - simple, easy to use - and will revisit in the future.

[2020-05-03 09:41] #77 closed

[2020-05-03 09:59] jacoscaz commented on #74
Native support for SPARQL queries, perhaps limited to a subset of the SPARQL specification, should come relatively easily after adding support for complex queries (which I am currently working on).

[2020-05-03 22:28] jacoscaz opened #80 "Support for SPARQL SELECT"
We're adding native SPARQL support in version 7!

[2020-05-03 22:33] jacoscaz opened #81 "Support for SPARQL CONSTRUCT"
We're adding native SPARQL support in version 7!

[2020-05-04 10:31] jacoscaz opened #82 "BASIC SPARQL: INSERT DATA"
Add support for the SPARQL `INSERT DATA` query type.

[2020-05-04 10:33] jacoscaz opened #83 "BASIC SPARQL: DELETE DATA"

[2020-05-04 10:33] jacoscaz opened #84 "BASIC SPARQL: INSERT/DELETE WHERE"

[2020-05-04 10:34] jacoscaz commented on #74
Close in favor of using [a dedicated project](https://github.com/beautifulinteractions/node-quadstore/projects/6) to track the overall state of SPARQL support.

[2020-05-04 10:34] #74 closed

[2020-05-04 10:35] jacoscaz commented on #81
Close in favor of using [a dedicated project](https://github.com/beautifulinteractions/node-quadstore/projects/6) to track the overall state of SPARQL support.

[2020-05-04 10:35] #81 closed

[2020-05-04 10:35] jacoscaz commented on #80
Close in favor of using [a dedicated project](https://github.com/beautifulinteractions/node-quadstore/projects/6) to track the overall state of SPARQL support.

[2020-05-04 10:35] #80 closed

[2020-05-04 10:41] jacoscaz opened #85 "SEARCH: refactor the search API to declare filters separately from quad patterns"

[2020-05-04 10:43] jacoscaz opened #86 "BASIC SPARQL: SELECT"
### BASIC QUERIES

Ref: https://www.w3.org/TR/rdf-sparql-query/#basicpatterns

- [x] simple, one match queries
- [x] simple, multiple matches queries
- [x] matching RDF literals
- [ ] matching RDF literals with language tags
- [x] matching RDF literals with numeric types
- [ ] matching RDF literals with arbitrary datatypes

### GRAPH PATTERNS

Ref: https://www.w3.org/TR/rdf-sparql-query/#GraphPatt

[2020-05-05 07:31] jacoscaz opened #88 "SPARQL: switch to sparqlalgebrajs for query parsing"
https://www.npmjs.com/package/sparqlalgebrajs

[2020-05-11 09:13] jacoscaz opened #89 "BASIC SPARQL: CONSTRUCT"

[2020-05-26 13:42] ahka01 commented on #70
So the example I'm looking forward to have include two easy steps:

1. Read Triples(Quads) from ttl file or json-ld.
2. Query this file using sparql query

Thanks in advance

[2020-06-06 00:38] thatcort opened #90 "Typescript Declarations"
I wrote a Typescript declaration file for this project. I was wondering if you'd be willing to include it within the project (and maintain it if the API changes)?
[index.d.ts.txt](https://github.com/beautifulinteractions/node-quadstore/files/4739094/index.d.ts.txt)

[2020-06-07 10:38] jacoscaz commented on #90
Hello @thatcort ! Thank you for that. We're actually working on a big `quadstore` update that will pave the way to support complex searches and native SPARQL queries. Within that work, which will be released in version 7.0, we're also porting the entire project to typescript. To answer your questions, I'd be happy to include the file you've made but that might be made redundant relatively soon, co

[2020-06-07 10:40] jacoscaz commented on #90
Work is happening in this branch: https://github.com/beautifulinteractions/node-quadstore/tree/feature/sparql-and-complex-searches . It's not quite working, yet, but it's getting there.

[2020-06-07 18:31] thatcort commented on #90
Thanks, that's great to know. The type definitions are attached to the issue. I could make a pull request if necessary -- let me know.

Some other unrelated comments regarding my attempts to use the library (please let me know if there's a better forum for this):

I tried using the library with quadstore-sparql and ran into a number of issues: https://github.com/beautifulinteractions/node-quadstor

[2020-06-07 20:12] jacoscaz commented on #90
Hello @thatcort .

I'll have a look at your definitions and see whether I can pull them into our current typescript refactor. Thank you for that effort.

WRT the issues you've encountered with `quadstore-sparql`, yes, we're planning on addressing those as a part of V7.0.0. Our focus for V7.0.0 is lay the foundations for complex searches and native sparql queries. By "native" I mean that we're usin

[2020-06-08 20:57] thatcort commented on #90
Hi @jacoscaz,

Sure, I'd be happy to contribute. Let me know the best way to get involved. I have to warn you, though, that I only have minimal time available.

[2020-07-18 23:05] jacoscaz opened #93 "Align with new SPARQL.js typings"
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46159

[2020-07-19 00:37] thatcort commented on #90
Hi @jacoscaz ,

I updated the type definitions and submitted them to DefinitelyTyped.

I also made some progress on using quadstore with sparql-engine. It seems to be working, but I agree that there is a lot of room for optimization by moving more complex searches into the db and using query algebra objects instead of text that needs to be parsed. Let me know if there's a good way to get involved.

[2020-07-19 20:51] jacoscaz commented on #90
Hi @thatcort . I've just merged into `devel` a whole lot of foundational work, mainly conversion to typescript and preliminary support for complex searches and SPARQL queries. Having a look at that branch might be a good starting point - all tests are passing. Next steps will revolve around pushing filters down to the database and increasing the complexity of supported searches and queries.

[2020-07-19 20:53] jacoscaz commented on #85
Done and merged in `devel`. Filters are now declared as separate stages.

[2020-07-19 20:53] #85 closed

[2020-07-20 07:51] jacoscaz commented on #86
Scaffolding for this has just been merged into `devel`!

[2020-07-20 07:51] jacoscaz commented on #84
Scaffolding for this has just been merged into `devel`!

[2020-07-20 07:51] jacoscaz commented on #83
Scaffolding for this has just been merged into `devel`!

[2020-07-20 07:51] jacoscaz commented on #82
Scaffolding for this has just been merged into `devel`!

[2020-07-20 07:51] jacoscaz commented on #89
Scaffolding for this has just been merged into `devel`!

[2020-07-20 13:06] jacoscaz commented on #93
For the time being, typings for `sparqljs` are being manually kept up-to-date with DefinitelyTyped/DefinitelyTyped#46159 by copypaste-ing them into `lib/sparqljs.d.ts`. We'll get rid of that declaration file when the PR is approved.

[2020-07-20 13:06] #93 closed

[2020-07-20 13:08] jacoscaz commented on #90
As a further update to this, we're now emitting `.d.ts` files within our build scripts and plan on publishing them to NPM. We should not need to have a dedicated entry at `@types/quadstore` anymore.

[2020-07-20 13:17] #90 closed

[2020-07-20 14:37] jacoscaz commented on #76
We've settled on a pipeline-ish approach that allows users to specify search "stages" of different kinds, including the `bgp` and `filter` kinds. This will be released in version 7.0.0. In the meantime, the discussion about filtering over at the RDF/JS repo moves forward...

- https://github.com/rdfjs/data-model-spec/issues/166
- https://github.com/rdfjs/stream-spec/issues/17
- https://github.com/

[2020-07-20 14:37] #76 closed

[2020-08-01 16:54] jacoscaz opened #95 "Support for RDF*"
How should we index quads within quads? This is a hard one!

[2020-08-01 16:57] jacoscaz commented on #95
See work on RDF/JS:

- https://github.com/rdfjs/data-model-spec/pull/165
- https://blog.liu.se/olafhartig/2019/01/10/position-statement-rdf-star-and-sparql-star/

[2020-08-09 08:53] jacoscaz opened #97 "Revise support for ES modules"
PR #96 and the work that stemmed from it got me to have a deeper look at the state of ES modules in node.js and whether it’s worth publishing both CJS and ES code within the same package as I had originally planned.

There’s currently an issue with ES - CJS compatibility that causes named imports not to work when importing a CJS module into an ES module. This comes from the fact that CJS exports a

[2020-08-16 19:33] jacoscaz commented on #82
Now available on NPM in `quadstore@7.0.1-alpha.5`

[2020-08-16 19:33] #82 closed

[2020-08-16 19:33] jacoscaz commented on #83
Now available on NPM in `quadstore@7.0.1-alpha.5`

[2020-08-16 19:33] #83 closed

[2020-08-16 19:33] jacoscaz commented on #84
Now available on NPM in `quadstore@7.0.1-alpha.5`

[2020-08-16 19:33] #84 closed

[2020-08-16 19:34] jacoscaz commented on #89
Now available on NPM in `quadstore@7.0.1-alpha.5`

[2020-08-16 19:34] #89 closed

[2020-08-16 19:35] jacoscaz commented on #86
Now available on NPM in `quadstore@7.0.1-alpha.5`

[2020-08-16 19:35] #86 closed

[2020-08-16 19:36] jacoscaz opened #98 "SPARQL: basic SELECT queries pt. II"
### BASIC QUERIES

Ref: https://www.w3.org/TR/rdf-sparql-query/#basicpatterns

- [X] matching RDF literals with language tags
- [X] matching RDF literals with arbitrary datatypes

### FILTERS

Ref: https://www.w3.org/TR/rdf-sparql-query/#termConstraint

- [ ] ~regex filter for strings (store-level filtering)~ (moved to https://github.com/beautifulinteractions/node-quadstore/issues/101)

[2020-08-17 15:43] jacoscaz opened #99 "SPARQL: fix handling of filters with more than one variable or one variable in an unexpected position"
- [x] While parsing SPARQL filters, ensure that resulting search filters always have the main variable as their first argument (changing filter type where needed such as `>` to `<`
- [x] Add a check that ensure the first argument of a search filter is always a variable
- [x] Prevent optimization of search filters with more than one variable in their arguments

[2020-08-17 16:03] jacoscaz commented on #88
Given that support for UPDATE has been added (https://github.com/joachimvh/SPARQLAlgebra.js/issues/40), we can move forward with this in v8.

[2020-08-18 18:04] jacoscaz opened #100 "SEARCH: reorder bgp search stages based on approx size"
Reorder bgp search stages (post filter optimization) based on the approx size of their result sets

[2020-08-24 07:21] jacoscaz opened #101 "SPARQL: regexp filter for literal terms"

[2020-08-24 07:25] jacoscaz commented on #99
published in `quadstore@7.0.1-alpha.6`

[2020-08-24 07:25] #99 closed

[2020-08-24 07:26] jacoscaz commented on #98
published in `quadstore@7.0.1-alpha.6`

[2020-08-24 07:26] #98 closed

[2020-08-25 20:37] jacoscaz opened #102 "SEARCH: improve stage reordering"
The current method is inefficient (too many wasted cycles and allocations). It's a start but it will need to be refactored into something better once we get a better grasp of whether we want to keep a flat array-like structure for search stages or whether we'll be forced to adopt a recursive structure like `sparqlalgebrajs`'s output.

[2020-08-25 20:38] jacoscaz commented on #100
published in `quadstore@7.0.1-alpha.7`

[2020-08-25 20:38] #100 closed

[2020-09-17 17:28] jacoscaz opened #103 "API: drop the non-RDF API"
We're not using it internally anymore and nobody else seems to be using it. Dropping it would shrink the codebase by a significant margin.

[2020-09-17 17:29] jacoscaz opened #104 "SEARCH: drop the search API"
Assuming we choose to follow through with #103, the SEARCH API would become a redundant, less-powerful alternative to the SPARQL API. It wouldn't make sense to keep it around.

[2020-09-17 17:40] jacoscaz opened #105 "SPARQL: replace current implementation with a custom Comunica engine + the upcoming RDF/JS spec"
Things have changed over the course of the last few months:

- `comunica` has added support for SPARQL `UPDATE` queries;
- work on adding a new interface to RDF/JS that would allow `comunica` to push filters down to `quadstore` is ongoing;
- @rubensworks is doing a wonderful job in documenting how to create custom `comunica` engines, making it easier and easier to produce bundles of reasonable siz

[2020-09-18 09:16] rubensworks commented on #105
We actually don't have update support yet but it's a WIP though!
So this will probably a blocker for you until we get that done.

Happy to help with creating custom configs if needed.

[2020-09-18 10:59] jacoscaz commented on #105
That's not a big issue - we could handle `UPDATE` queries internally while delegating `SELECT` and others to Comunica. It seems like the `query()` method can accept both SPARQL queries in string form and instances of `sparqlalgebrajs'` `Operation` (https://github.com/comunica/comunica/blob/master/packages/actor-init-sparql/lib/ActorInitSparql-browser.ts#L133), so it should be relatively easy to st

[2020-09-18 11:17] rubensworks commented on #105
That's sounds like a good option for now indeed.

Indeed!

[2020-10-10 13:10] gsvarovsky commented on #104
Actually the search API might be very useful to me.

The reason is, my project has a [json-rql](https://json-rql.org/) interface. It looks like it would be better for me to use your search API directly, rather than translating first to SPARQL.

I will try to investigate as soon as possible. When do you anticipate doing this work?

[2020-10-10 15:13] jacoscaz commented on #104
@gsvarovsky interesting! I'm still brainstorming on this and I am really happy to get some community feedback.

Consider that the work on the SPARQL API will bring support for SPARQL queries expressed both as SPARQL strings _and_ as SPARQL Algebra objects (see https://www.npmjs.com/package/sparqlalgebrajs). From the looks of it, converting a JSON RQL query to a SPARQL Algebra object should not be

[2020-10-10 15:35] gsvarovsky commented on #104
You are right, using the algebra will be just as good as the current search API, probably even better. Thanks!

[2020-10-10 15:39] jacoscaz commented on #104
No worries! Thank _you_ for mentioning JSON RQL, I wasn't aware of it. I will come back to this issue in a while, once work on SPARQL continues.

[2020-10-10 18:58] jacoscaz commented on #102
Closing as a consequence of #104

[2020-10-10 18:58] #102 closed

[2020-10-17 22:26] jacoscaz commented on #105
This is coming along nicely in #107 through https://github.com/beautifulinteractions/node-quadstore-comunica

[2020-10-18 08:56] jacoscaz opened #108 "COMUNICA: re-enable actor-rdf-join-symmetrichash"
See https://github.com/beautifulinteractions/node-quadstore-comunica/commit/00a6b4bf06bb45a3829699acaadac87e2e598be2#commitcomment-43339914

The reason we disabled it is that it was causing the sparql10 test suite to break. @rubensworks mentioned this could be related to https://github.com/comunica/comunica/issues/711 .

Remember to use the `COMUNICA_DEBUG` environment variable to enable stack tra

[2020-10-18 11:29] #88 closed

[2020-10-18 11:29] #103 closed

[2020-10-18 11:29] #104 closed

[2020-10-18 11:29] #105 closed

[2020-10-18 11:33] jacoscaz commented on #105
Release on NPM - `quadstore@7.0.1-alpha.9`

[2020-10-18 11:33] jacoscaz commented on #104
Release on NPM - `quadstore@7.0.1-alpha.9`

[2020-10-18 11:33] jacoscaz commented on #103
Release on NPM - `quadstore@7.0.1-alpha.9`

[2020-10-18 15:39] jacoscaz commented on #47
It's been some time! In the unlikely case that anyone is still following in this, I've been working on a few benchmarks in the `src/perf` folder. Instead of focusing on specific queries, of which I would need hundreds to have benchmark one could rely upon, I've been focusing on specific metrics:

- imported quads per second (15k quad/second, see `src/perf/loadfile.ts`)
- join operations per second

[2020-10-18 15:39] #47 closed

[2020-10-18 15:41] jacoscaz commented on #101
#107 has brought in support for REGEXP filters as a side-effect of shipping a Comunica-based SPARQL engine.

[2020-10-18 15:41] #101 closed

[2020-10-18 15:44] jacoscaz commented on #18
In case anyone is still following this, `7.0.1-alpha.9` brings SPARQL support, including SPARQL/1.1 DELETE/INSERT WHERE. I'll close this issue as it's been open for way too long without much activity. I've also applied for the beta of the upcoming "discussions" feature here on GH for more brainstorm-y feedback.

[2020-10-18 15:44] #18 closed

[2020-10-18 15:49] jacoscaz commented on #70
This issue has been around for far too long without much activity. Quadstore's API has changed rather dramatically with version 7.0.1 (we're now at `7.0.1-alpha.9` on NPM), with tighter integration with other RDF/JS projects and the RDF/JS specs (with even more coming in the future). It would probably make sense to collect examples of cross-library usage at the RDF/JS level, given that reading fro

[2020-10-18 15:49] #70 closed

[2020-10-19 12:37] retog opened #109 "COMUNICA: troubles using quadstore-comunica with rollup"
Trying to use Quadstore (v7.0.1-alpha.9) with a rollup project I get errors like the following:

    Uncaught ReferenceError: _webpack_ignored__comunica_actor_http_memento is not defined

or

    Uncaught ReferenceError: require$$0$3 is not defined

Is there any known project succesfully using Quadstore with rollup?

[2020-10-19 12:52] jacoscaz commented on #109
Hello @retog! I'm not aware of any project using quadstore with rollup, at the moment. However, this has likely something to do with [our custom configuration of Comunica](https://github.com/beautifulinteractions/node-quadstore-comunica). I have explicitly excluded the `@comunica/actor_http_memento` from our configuration and I'm surprised to see that something is trying to use it. Two questions:

[2020-10-19 16:47] jacoscaz commented on #109
Could be related to https://github.com/comunica/comunica/issues/656 ?

[2020-10-19 22:15] retog commented on #109
Hello @jacoscaz! I get the error as soon as I add the import to my code

    import {Quadstore} from 'quadstore'

I don't need to create an instance or a call a function for the error to appear.

[2020-10-19 22:34] retog commented on #109
comunica/comunica#656 manifests in an error at build time, here I get the error at runtime in the browser or in the electron app, so I don't see a relation between the two problems.

A near minimal project showing this problem: https://github.com/retog/rollup-comunica/tree/quadstore (the `quadstore` branch shows this problem, `master` shows comunica/comunica#656).

[2020-10-20 20:50] jacoscaz commented on #109
While working on our configuration of comunica I noticed that Webpack, unless explicitly instructed not to do so in its `webpack.config.json`, always ends up bundling all of Comunica's modules and dependencies, regardless of which ones I include in the configuration.

This seems to happen with both Webpack v4.x and v5.x and I only managed to work around it (rather than fix it) [using externals](ht

[2020-10-21 09:06] retog commented on #109
Thanks for your suggestion. Unfortunately, I don't know how to do this. I tried manually editing `node_modules/quadstore-comunica/package.json` to change the main file, but now I'm getting:

    Uncaught ReferenceError: index_browser_1 is not defined

[2020-10-21 09:19] rubensworks commented on #109
As a non-user of Rollup, this looks like something that should fix the error, as Rollup seems to be using the Webpacked bundle, which is bound to cause problems.
Also not sure here how to configure that in Rollup.

In any case, I also suspect https://github.com/comunica/comunica/issues/656 will pop up here again.

[2020-10-21 13:10] jacoscaz commented on #109
Why, though? The bundle included in `quadstore-comunica` does work and I currently install it via NPM and `require()` it into `quadstore` like any other CommonJS module.

@retog, I've made a couple of little changes to partially test the above. Could you please try to use `quadstore@7.0.1-alpha.11`, which I've just published to NPM, and slightly change your Rollup configuration so as to add the fo

[2020-10-21 17:11] retog commented on #109
Hi @jacoscaz, I've tried with the changes you suggested but I'm still getting:

    Uncaught ReferenceError: require$$0$1 is not defined
       <anonymous> http://localhost:5000/bundle.js:27130

[2020-10-23 06:53] jacoscaz commented on #109
Hi @retog! Just FYI, I'm testing with Rollup myself to see whether I can conjure a configuration that correctly bundles `quadstore-comunica`. It's taking longer than I had hoped but I hope I'll have something to share about this soon enough.

[2020-10-23 19:58] retog commented on #109
I've tried using webpack, and getting similar errors:

[code]

[2020-10-23 20:00] jacoscaz commented on #109
Hello @retog. What a coincidence! I'm working on a reference repository for bundling quadstore with Webpack _right now_ and will have that running within the next hour :)

[2020-10-23 20:33] jacoscaz commented on #109
Hello again.

Let's start with the bad news first. I haven't been able to make `quadstore` (and `quadstore-comunica` in particular) work with Rollup. I did get a little further than the errors you reported but nowhere close to a working bundle, mostly because the `commonjs` plugin seems unable to pack the dependencies in the correct order.

That said, the good news: I've created a whole new reposi

[2020-10-24 07:15] jacoscaz opened #111 "COMUNICA: browser-side bundles are too heavy on crypto-related code"
As shown by the following screenshot of Webpack's bundle analyzer, browser-side bundles include a lot of crypto-related code due to `@comunica/actor-abstract-bindings-hash/lib/AbstractFilterHash.js` making use of the `crypto` module of Node.js.

By limiting the amount of hashes that can be used to just one or two we could refactor that package to depend on pure-js, npm-based implementations and ge

[2020-10-24 18:16] retog commented on #109
Hi @jacoscaz, that's a good news indeed! With your webpack configuration, it was easy to get it working. Thanks a lot!

[2020-10-24 20:49] jacoscaz commented on #109
Happy to hear that @retog . I'll close this issue as we have no plans to support Rollup in the short term and we do provide an alternative for browser-side usage. By the way, I'd be happy to hear your use-case for `quadstore` if you have the time and the inclination to do so. We've recently got accepted in the GitHub Discussions beta: https://github.com/beautifulinteractions/node-quadstore/discuss

[2020-10-24 20:49] #109 closed

[2020-10-26 07:42] jacoscaz commented on #111
We might address this upstream with https://github.com/comunica/comunica/pull/752 (draft, WIP).

[2020-10-26 20:23] jacoscaz commented on #111
Waiting on https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49123

[2020-10-27 15:34] jacoscaz opened #113 "BACKEND: evaluate and test skiff as a distributed backend"
[Skiff][1] is an implementation of the Raft consensus algorithm for Node.js that exposes both a `levelup` and `leveldown` interface.

[1]: https://github.com/pgte/skiff

[2020-10-27 16:00] jacoscaz commented on #113
The [Scull][1] fork seems to be slightly more up-to-date.

[1]: https://github.com/hitchyjs/scull

[2020-10-31 16:47] jacoscaz commented on #111
We did end up addressing this upstream. For posterity, we started with `comunica` alone but ended up working across both `comunica` and `sparqlee`.

Waiting on:

- ~~https://github.com/comunica/comunica/pull/752~~ merged!
- ~~https://github.com/comunica/sparqlee/pull/78~~ merged!
- https://github.com/comunica/comunica/pull/757
- new release of `comunica` to NPM (expected early next week)

[2020-11-01 23:11] retog commented on #109
Hi @jacoscaz, my goal is to have a decentralized collaborative knowledge graph on [Scuttebutt](https://scuttlebutt.nz/). What will be passed around over the network are the update statements and each client constructs the graph(s) according to the statement they get via their social connections.

So far I've been working on the UI to combine direct-editing using [rdfjs-svelte](https://github.com/l

[2020-11-02 19:05] jacoscaz commented on #111
Released in v7.0.1-beta.2!

[2020-11-02 19:05] #111 closed

[2020-11-09 09:30] jacoscaz commented on #113
None of these two seem to be maintained anymore. Closing for now, might come back to this in the future.

[2020-11-09 09:30] #113 closed

[2020-11-15 17:54] jacoscaz opened #114 "BACKEND: evaluate (de)serialization performance with protocol buffers"
https://protobufjs.github.io/protobuf.js/#performance

[2020-11-15 17:56] jacoscaz opened #115 "PERFORMANCE: push filtering and sorting operations from comunica down to quadstore (eventually through the RDF/JS Expression spec)"
As I am writing this, the SPARQL query engine in [quadstore-comunica](https://github.com/beautifulinteractions/node-quadstore-comunica) does all of its sorting and filtering in-memory. This leads to a variety of performance issues as even very simple queries can make Comunica go through unnecessarily large numbers of quads (often entire indexes).

As an example, any query with an ORDER BY clause o

[2020-11-18 08:11] jacoscaz commented on #114
As tested within the [protobuf](https://github.com/beautifulinteractions/node-quadstore/tree/protobuf) branch, switching to `protobuf.js` seems to result in consistent performance gains between 10% and 15% in both higher read/write speeds and lower disk usage. In terms of bundle size the impact is also minimal, with only 6.5 KB added to the browser-side bundle. Changing the serialization format br

[2020-11-19 18:40] gsvarovsky opened #116 "Dev dependency required to actor-init-sparql"
Working in Typescript, I had to add a `devDependency` to `@comunica/actor-init-sparql` so that the typings for Comunica are available and the project compiles.

This is a dev dependency only because `node-quadstore-comunica` bundles the Comunica code.

[2020-11-19 18:42] gsvarovsky opened #117 "Using browserify requires ignoreMissing"
Using browserify (and not webpack) it is necessary to add the option to `ignoreMissing` required files, so that the requires prefixed with `_webpack_ignored_` in the quadstore-comunica bundle are ignored. Browserify doesn't seem to have an option to ignore by prefix or regex.

The bundle size has increased after the upgrade from 6.0 by about 600K.

[2020-11-19 18:46] gsvarovsky opened #118 "String literal data type is not compacted"
https://github.com/beautifulinteractions/node-quadstore/blob/faf3cd5f694b329d0d486f07bbdd4dd835de7030/lib/serialization/import.ts#L19

The `xsd.string` data type is not subjected to compaction when using `prefixes`.

If it were compacted, it would still be subject to expansion in the current export module: https://github.com/beautifulinteractions/node-quadstore/blob/faf3cd5f694b329d0d486f07bbdd4dd

[2020-11-20 07:48] jacoscaz commented on #116
I think the best way to address this is to include the relevant typings within `quadstore-comunica` by either copying them or crafting them by hand.

Any other solution I was able to come up with would result in having the entire `comunica` framework as a dependency of `quadstore`, much as you're experiencing right now, and I feel that would not be a healthy direction.

[2020-11-20 07:57] jacoscaz commented on #117
I was not aware of the `ignoreMissing` option of Browserify but, given the name, I would have expected it to achieve a similar result as [this Webpack configuration][1]. The bundle size of quadstore 7.x is significantly lower than that of version 6.x. I see two issues here:

- [ ] figure out what is causing the bundle size to increase
- [ ] the `_webpack_ignored_` prefix is misleading, it should r

[2020-11-20 08:03] jacoscaz commented on #118
Ah, good catch. Will fix soon!

[2020-11-20 13:19] jacoscaz commented on #116
@gsvarovsky could you test this with `quadstore@7.1.0-beta.0`, which I've just released to NPM with the `beta` tag?

[2020-11-20 13:20] jacoscaz commented on #117
@gsvarovsky could you test this with quadstore@7.1.0-beta.0, which I've just released to NPM with the beta tag? In addition to embedding the typings for comunica, I've changed the way the bundling mechanism works so that it does not result in having to ignore packages anymore.

[2020-11-20 14:51] gsvarovsky commented on #117
I am getting a compiler problem building my project:
[code]

[2020-11-20 14:55] gsvarovsky commented on #117
Incidentally I realised that I am using `npm link` to bring the m-ld JS library project into the website project. This may explain the bundle size, as there are two copies of quadstore in npm_modules. I'll use a tar bundle temporarily to see if this explains it.

[2020-11-20 15:11] jacoscaz commented on #117
@gsvarovsky apologies, for some reason that error did not show up in my testing. I've just published `7.1.0-beta.1` which should also fix another issue related to the bundle. Could you try that?

[2020-11-20 15:31] gsvarovsky commented on #117
OK great news.
- My bundle size change has nothing to do with quadstore. Using source-map-explorer I see:
  `quadstore-comunica/index.bundle.js • 340.91 KB`
  `quadstore • 48.38 KB` (via browserify, unminified)
  Many apologies! I must discover what else has changed in my world.
- The `ignoreMissing` flag is no longer needed with quadstore@7.1.0-beta.1

Thanks, happy to close this ticket!

[2020-11-20 15:35] jacoscaz commented on #117
Great! Issue closed. `7.1.0-beta.1` should also fix https://github.com/beautifulinteractions/node-quadstore/issues/116 by the way.

[2020-11-20 15:35] #117 closed

[2020-11-20 15:42] gsvarovsky commented on #116
Fixed in quadstore@7.1.0-beta.1

[2020-11-20 15:42] #116 closed

[2020-11-20 17:41] #118 closed

[2020-11-20 17:49] jacoscaz commented on #118
Fixed this in https://github.com/beautifulinteractions/node-quadstore/commit/1400bbe15bb88976d6a8cc262bb8f7503e9ed5d2, will release in either `7.1.0` or the next beta. Let me know if this is urgent for you and I'll release another beta right away.

[2020-11-21 15:30] gsvarovsky opened #119 "BACKEND: Bypass literal indexing?"
I'd like to discuss alternatives to solve a performance issue I have. I would be very happy to submit a PR once we have decided the best approach, or work with you. Quadstore carefully balances performance with features (great job!), and this should enhance it further.

## Root Problems
1. IndexedDB performance is [terrible](https://stackoverflow.com/a/22315353). Irrespective of batching, I observ

[2020-11-22 10:21] jacoscaz commented on #119
Hello @gsvarovsky !

That is definitely unexpected and kinda worrying, even more so if batching doesn't seem to affect these latencies. On one side, it reminds me that we should really add a way to run unit and performance tests in the browser automatically to keep track of improvements and regressions. On the other side, perhaps we should have a closer look potential alternatives for browser-side

[2020-11-22 12:44] gsvarovsky commented on #119
Thanks for considering, @jacoscaz! OK, considering the literal duplication first.

Here is an idea for a bit more detail on the "omit indexing" option. For brevity, I'll only consider my 3 indexes. At present, a quad `<<S P O G>>` looks like this in the backend:
[code]

The solution involves noticing the presence of the binary literal in O when writing the quad, and truncating the index representa

[2020-11-22 12:50] gsvarovsky commented on #119
With regard to dropping `level-js`: personally I need IndexedDB because I need atomic transactions, which would be very hard to do in the other common browser option, local storage. WebSQL is very poorly supported. So the only motivation would be if `level-js` has some problems itself.

According to some reports, the batch approach in `level-js`, which waits for each `put` or `del` to complete bef

[2020-11-22 16:42] jacoscaz commented on #119
Hello again!

WRT omitting indexing, I fear truncating index representations would lead to issues with quads overriding one another. Let's assume index `GSP` and quads `(s1, p1, o1, g1)` and `(s1, p1, o2, g1)`. Both of these quads would be represented as something like `g1-s1-p1`, leading the store to replace the one indexed first with that indexed later on. This is the reason why `quadstore` does

[2020-11-22 16:50] jacoscaz commented on #119
WRT performance, yes, reimplementing atomic transactions would definitely be a non-trivial endeavor.

 I can't wrap my mind around the numbers you've encountered; I routinely see 15k quad/second in my imports and that translates to 15 quad/millisecond, meaning that going through `level-js` and `IndexedDB` is resulting in a whole order of magnitude of difference. Could you run the `dist/perf/loadfi

[2020-11-22 17:08] jacoscaz commented on #119
Have you tried profiling in the browser to figure out what functions are taking the most time?

[2020-11-22 17:19] gsvarovsky commented on #119
Yes, that's actually where I'm getting my timings from, in Chrome. It appears to be faster in Firefox but the performance tab is not as easy to parse.

[2020-11-22 17:27] gsvarovsky commented on #119
[code]

[2020-11-22 17:41] gsvarovsky commented on #119
Ah, of course, sorry. We could proceed by only hashing the selected big literals in the indexes, not the whole quad. It has the advantage that the big literals are then findable by exact-match. (This means this proposal actually becomes "Use Hash Indexes".) No need to hash anything that isn't a big literal.

If `H` is the the hash of `O`:
[code]
I've been looking at SubtleCrypto in the browser and

[2020-11-22 18:59] gsvarovsky commented on #119
Just thinking about this a little more. With an arbitrary key-value interface I _could_ implement my own hash-based index, and only reveal the hash values to quadstore, instead of the original literals. That could be used to remove _all_ duplication.

By the way, I am already hashing all (user) triples anyway, for my own purposes (which is why I'm looking at SubtleCrypto).

[2020-11-22 20:57] jacoscaz commented on #119
Yeah, I that’s what I had in mind. However, I also agree that hashing exceedingly long terms would be a good feature.

These two are probably more orthogonal than they are overlapping. I guess you’d be even better off with both?

[2020-11-22 21:04] jacoscaz commented on #119
I guess I would start with the key/value interface as I find that more generic and flexible. Should that turn out not to work, I would then move to implement hashing directly in the store. What do you think?

[2020-11-24 14:52] jacoscaz commented on #119
We've just merged atomic writes of quads coupled with custom `key, value` pairs (see #120). @gsvarovsky how are things looking on your end? Do you already have an idea of whether that will be enough to address the duplication issues you are experiencing with `m-ld`?

[2020-11-25 10:30] gsvarovsky commented on #119
As expected, using raw KVPs instead of quads for my journal has removed all duplication overhead in storage. 💯

1. Very strangely, and unhappily, I'm still seeing very similar total batch time in IndexedDB for a user transaction including (atomic) journaling. I'll be looking into that in more detail.
1. I have not yet attempted to implement a hash index in order to extend the benefit to user quads

[2020-11-25 11:15] jacoscaz opened #121 "BACKEND: slow browser-side performance when using level-js / IndexedDB"
Conversation in #119 revealed significant gaps in performance when deployed browser-side using `IndexedDB` via the `level-js` backend.

These gaps seem to be mostly due to an objective difference in performance between `LevelDB` and `IndexedDB` (https://stackoverflow.com/a/22315353), even though the latter was originally modeled on the former. Should this turn out to be the case, there's little we

[2020-11-25 11:16] jacoscaz commented on #119
That's great to hear!

Having done some testing on IndexedDB in the last few days, that doesn't come across as terribly surprising (unfortunately). In my testing, which admittedly is still rather limited, the relative ordering of the keys being added to the store shows a high correlation to the overall latency of the batch. Writing values with keys sorted lexicographically (i.e. `aaa, aaab, aaac,

[2020-11-25 11:16] #119 closed

[2020-11-28 09:12] jacoscaz opened #122 "COMUNICA: support custom comunica configurations"
As of v7.1.0, `quadstore` does not support any Comunica configuration other than [`quadstore-comunica`](https://github.com/beautifulinteractions/node-quadstore-comunica), which optimizes for bundle size and dependency count to deliver the smallest possible Comunica configuration that still manages to evaluate queries.

`comunica-quadstore` does not include anything else but the subset of actors th

[2020-12-06 17:24] gsvarovsky opened #124 "BACKEND: Blank nodes should not match existing data"
When inserting data containing blank nodes, the blank subject or object is stored verbatim with the same blank node identifier as the input. This breaks the requirement that blank nodes are scoped to the input document. For example (I tried adding this as a unit test in `quadstore.prototype.put.js`):
[code]
This test fails because the two invocations of `put` are using the same blank node label. I

[2020-12-07 08:50] jacoscaz commented on #124
I just asked on the RDF/JS gitter room about this. I don't remember reading anything about blank node collisions in the low-level spec but, ideally, this is something that all implementations should address in a uniform way.

As for the rest of the quadstore API, what would be the scope of our "collision avoidance" strategy? Collision avoidance in a single `.multiPut()` call seems obvious but what

[2020-12-07 08:55] namedgraph commented on #124
Can't you have internal IDs for blank nodes like Jena does?
https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/rdf/model/AnonId.html

[2020-12-07 09:07] jacoscaz commented on #124
@namedgraph thank you for pitching in! Yes, I think we'll end up storing both some sort of internal id plus the original label to preserve the latter while avoiding collisions through the former. However, what I'd like to offer is to provide a mechanism allowing for re-utilization of the same internal id across different writes when needed.

For example, it is likely that importing from a stream w

[2020-12-07 09:09] namedgraph commented on #124
Is it necessary to remember the original label? I don't think Jena does that.

[2020-12-07 09:12] jacoscaz commented on #124
True, we only need to remember original labels insofar as we're looking for them while performing further write operations. We don't need to store them as returning them could lead to the very collisions we're trying to avoid.

[2020-12-07 15:30] gsvarovsky commented on #124
Personally I think the first incremental step is for scope to exactly track API calls, with no changes. So:
- every `put` has its own scope (is independent), so re-using blank nodes in quad arguments to separate calls results in different internal ids.
- `multiPut` defines a scope, so quads in the array argument can share blank node names to create structure.
- `putStream` is not atomic, so the on

[2020-12-07 17:11] jacoscaz commented on #124
This would break the fairly common use-case of streaming quads from a file into a store. I do share your concern WRT separating atomicity from scope but I think that `putStream` defines a scope just as much as `multiPut` does from the perspective of an outsider.

[2020-12-08 06:56] rubensworks commented on #124
@gsvarovsky In your example, you're actually creating named nodes instead of blank nodes.

[code]
should become
[code]

But even then you'll probably get just a single result as test result.

-----

This does seem like an expected outcome to me though.
I would consider multiple calls to this low-level `put` as if they are happening in the same document scope.
Which means that blank nodes can be us

[2020-12-08 08:08] gsvarovsky commented on #124
Whoops! corrected by edit. Yes, the outcome is the same.

If every call to `put` has the same document scope, then how do you define a new scope when you need it?

This would require a new API feature, like an inverse of @jacoscaz's `blankNodeCollisionAvoidance` object. My point is that such an API needs to be carefully specified so that it's clear how it relates to transaction atomicity. If I'm i

[2020-12-08 10:02] jacoscaz commented on #124
Thank you @gsvarovsky, @namedgraph and @rubensworks for pitching in!

Based on your arguments, I would be inclined to do the following:

1. keep the store as it is, with all calls effectively happening in the same document scope;
2. implement scoping _at the RDF/JS level_ (rather than at the store level) in a separate library.

The final result would be something like the following:

[code]

[code

[2020-12-08 10:10] jacoscaz commented on #124
The scoping library could even be designed in such a way as to be able to bootstrap scopes from a store and serialize scopes to RDF/JS quads to be persisted to the store atomically with the quads being processed.

[2020-12-08 10:18] gsvarovsky commented on #124
Interesting. Perhaps go even further. Should scope be a first-class citizen in rdfjs? In my recent travels I have been frustrated by this concept being not well defined (of course, I could just have missed some important reference). Is it worth raising this with the wider community?

https://www.w3.org/2011/rdf-wg/wiki/User:Azimmerm/Blank-node-scope
https://www.w3.org/2011/rdf-wg/wiki/User:Azimmer

[2020-12-08 10:40] gsvarovsky commented on #124
As a concrete use-case, for consideration.

As an application, I generate a JSON-LD document containing a sub-structure defined as a `@list`. (Note that my JSON document does not contain blank nodes.)

I process a document using a JSON-LD processor, which generates an RDF list, [containing blank nodes]( (https://tinyurl.com/y297hhme)). I use quadstore to, erm, store the quads.

Then, I restart, an

[2020-12-08 14:24] jacoscaz commented on #124
@gsvarovsky I think that your JSON-LD example is a perfect representation of how the RDF ecosystem can often feel counter-intuitive (if not utterly bananas, depending on frustration levels) for those who come to it from a non-academic background (like myself).

Reading those proposals makes me more convinced about my proposed solution as I think the best way to counter the lack of a clear definiti

[2020-12-30 21:58] jacoscaz commented on #124
@gsvarovsky when you have a moment, could you please have a look at the `quad-scoping` branch? The `createScope()` method documented at https://github.com/beautifulinteractions/node-quadstore/tree/quad-scoping#blank-nodes-and-quad-scoping should provide a decent solution to this issue.

[2020-12-31 10:49] gsvarovsky commented on #124
Looks elegant, @jacoscaz. Some thoughts:

### 1. Index size
Each `nanoid` is 21B, +2 for `_:`, × 6 indexes = 138B.

### 2. Restart
If I'm in the middle of creating structure using blank nodes with a scope, and the process crashes, I am in a big pickle. Even if I have tracked my position in the data upload, I don't know what blank node identifiers were used.
- I can't re-start the upload because th

[2020-12-31 11:31] namedgraph commented on #124
@afs might have some insight here.

TL;DR - don't like how bnodes work - don't use bnodes :)

[2020-12-31 18:16] jacoscaz commented on #124
Hi all!

@gsvarovsky:

A nanoid-labeled blank node is still significantly smaller than the average named node and seems to be comparable to shortened named nodes when using prefixes. I don't think slightly longer blank nodes are likely to become an issue on their own unless as a part of a bigger issue related to the comparatively low `quad/MB` ratio that can be achieved using quadstore's indexing

[2020-12-31 19:36] jacoscaz commented on #124
WRT to a more integrated API, my example works better with explicit scope objects:

[code]

[2021-01-02 18:45] jacoscaz commented on #124
Had a bit of time today so I decided to give a go at the API from my previous comment, addressing what I think is the most critical point:

I ended up using something very similar to what `preWrite` does but in a less generic way due to performance concerns, the core of happens here https://github.com/beautifulinteractions/node-quadstore/blob/e3362a85fa24d4e93a49b6a3e432ac092dac340e/lib/scope/inde

[2021-01-04 09:11] gsvarovsky commented on #124
Hi @jacoscaz, great news that the persistent scope is not a significant performance bottleneck. It looks great & the API with the scope in the `opts` object makes sense.

Just for your interest (I should have mentioned it before) **m-ld** deals with a similar situation. Nothing to do with blank nodes (we skolemise), but in a replicated dataset, operations can be incoming from other clones at any t

[2021-01-04 09:37] jacoscaz commented on #124
@gsvarovsky if I understand correctly, what you're describing is similar to [LevelDB's snapshotting feature](https://github.com/google/leveldb/blob/master/doc/index.md#snapshots), which some implementations of `AbstractLevelDOWN` (such as `leveldown`) use [when iterating through the store](https://github.com/Level/leveldown#snapshots) to provide consistent reads.

Very cool to see that you've repl

[2021-01-05 10:13] #124 closed

[2021-01-05 11:34] jacoscaz commented on #124
Published in version `7.3.0`!

[2021-01-12 07:21] jacoscaz commented on #114
Closing in favor of the approach taken in the `low-level-serialization` branch.

[2021-01-12 07:21] #114 closed

[2021-01-16 20:34] jacoscaz commented on #108
For posterity, this was ultimately traced to the `asyncjoin` package, which is a dependency of `comunica`. See https://github.com/joachimvh/asyncjoin/issues/7 .

[2021-01-16 20:34] #108 closed

[2021-01-16 22:03] jacoscaz commented on #122
Released with `quadstore@8.0.0-alpha.3` (watch out for the new **required** constructor option!).

[2021-01-16 22:03] #122 closed

[2021-01-16 22:04] jacoscaz commented on #108
Released with `quadstore@8.0.0-alpha.3`.

[2021-01-23 17:49] jacoscaz commented on #95
I will close this for now as we do not need this internally and there seem to be very little interest (if any at all). Will reopen should someone ask for it.

[2021-01-23 17:49] #95 closed

[2021-01-23 18:08] jacoscaz commented on #97
This has been open for 5 months but the situation with our dependencies remains unchanged. However, our bundle size did decrease significantly mainly due to a decrease in dependency count and the packaging of `quadstore-comunica` in bundled form, diminishing the need to support tree-shaking while bundling. Will close this for now.

[2021-01-23 18:08] #97 closed

[2021-01-23 18:14] jacoscaz commented on #121
Indeed, this does seem to be the case. Browser-side usage via `level-js` _may_ result in significantly worse performance levels, up to one order go magnitude. This is extremely annoying but there's nothing we can do except writing an entirely new `AbstractLevelDOWN` implementation that somehow manages to go around `IndexedDB`'s issues. Perhaps it could use [a combination of snapshots + AOF like Re

[2021-01-23 18:14] #121 closed

[2021-02-09 16:20] jacoscaz opened #129 "COMUNICA: extract basic typings into separate package"
We're currently duplicating Comunica's internal typings in order to

1) decouple `quadstore-comunica` from `quadstore` and support other configurations of Comunica
2) distribute `quadstore-comunica` in bundled form

See:

- https://github.com/beautifulinteractions/node-quadstore/blob/6c9b6238a5c03bf9e52f90a6c9901aa2f7eaf204/lib/types/comunica.ts
- https://github.com/beautifulinteractions/node-quad

[2021-02-16 08:45] jacoscaz opened #130 "PERFORMANCE: avoid repeated serialization of terms"
We can improve write performance levels by avoiding duplicate and unnecessary term serializations. Terms can simply be serialized once and their serialized versions can then be concatenated around based on each index's permutation of terms. Whether the ROI of doing this is high enough to justify the effort is TBD.

[2021-02-16 08:51] jacoscaz opened #131 "PERFORMANCE: avoid using values?"
Appending size buffers at the end of each key rather than storing them as values might make for greater iteration speed assuming that accessing values is relatively costly compared to keys alone. As per #130 , whether the ROI of doing this is high enough to justify the effort is TBD. This would also be a breaking change for existing datasets, thus candidate for a major release.

[2021-02-16 09:15] jacoscaz opened #132 "PERFORMANCE: compare against Fuseki, Virtuoso"
Comparing performance levels against those of Fuseki or Virtuoso might help prioritizing performance work based on where the larger gaps are.

[2021-02-16 12:32] antoine-morvan opened #133 "sparql() result format does not match Query Results JSON Format"
Hello,

I'm in the process of updating from the old repo (quastdore 6.0.0 + quadstore-sparql) and I'm wondering why the sparql() method does not return a JSON matching the Query Results JSON Format (https://www.w3.org/TR/sparql11-results-json/) ?

Also, in the doc I did not see any mention to a helper function that would build it up. Did I miss it ?

[2021-02-16 13:07] jacoscaz commented on #133
Hello @antoine-morvan !

With the advent of the RDF/JS spec and ecosystem of libraries we've opted to reduce quadstore's surface area and let developers complement it with other libraries, according to the specific needs of each project.

This was done mainly for two reasons:

1) address the ballooning size of browser-side bundles, which was making usage of quadstore impractical in client-side con

[2021-02-16 14:43] antoine-morvan commented on #133
Thanks for the quick answer.

[2021-02-16 14:56] jacoscaz commented on #133
No worries. I will close this for now but please feel free to follow up here on GitHub or get in touch with me directly (see package.json for my email).

[2021-02-16 14:56] #133 closed

[2021-02-16 14:58] jacoscaz commented on #133
Ah, I forgot - if you can and feel comfortable doing so, we'd appreciate having a brief description of your use case in [this discussion thread](https://github.com/beautifulinteractions/node-quadstore/discussions/112). It would help us understand how others are using quadstore, which in turn allows us to better prioritize issues.

[2021-03-07 07:03] ehupin opened #134 "store.get() and store.sparql() return different values for similar blank nodes"
Hi,

I am quite new to the RDF world and I am currently testing node-quadstore as a solution to persist triples.
During my tests I found what seems to be a weird behavior, as the returned values for blank nodes differ when they are fetch using `store.get()` vs `store.sparql()`.

Here is a script to reproduce this:
[code]

What bugs me here is that the blank node I created is returned as a single o

[2021-03-07 16:35] jacoscaz commented on #129
The PR to Comunica has been merged (https://github.com/comunica/comunica/pull/784). We'll refer to the new `@comunica/types` package once it will have been published to NPM.

[2021-03-07 18:00] jacoscaz commented on #134
Hello @ehupin! Thank you for that code snippet, I can confirm I am able to reproduce this. It's weird, the correct behavior is the one you're getting from `store.get()` and that is also the behavior I would have expected from `store.sparql()`.

As a temporary workaround you can [skolemise](https://www.w3.org/2011/rdf-wg/wiki/Skolemisation) blank nodes into named nodes, which I would recommend anyw

[2021-03-07 19:48] namedgraph commented on #134
The client shouldn't expect stable blank nodes though. That's what URIs are for :)

[2021-03-07 22:39] jacoscaz commented on #134
Just for clarify and set expectations: although blank node labels are not guaranteed to be stable, quads and the relationships between quads are. The issue, here, is not that the labels change between `store.get()` and `store.sparql()` but, rather, that the way they change when using the latter is breaking the relationship between those quads.

[2021-03-08 04:16] ehupin commented on #134
Thanks all for your answers!
First it gave me to better understanding the issue (as @jacoscaz mentioned returned blank nodes should have the same label) but moreover it helps me to better grasp how to use and what are the limitations of blank nodes. Skolemization is an interesting subject that I will definitely explore!

[2021-03-08 07:57] rubensworks commented on #134
Yep, that's expected and intentional behaviour. We have to do this to ensure non-clashing bnodes when querying over multiple sources.

It's quite normal for RDF tools to modify bnode labels like this, as you can indeed never attach meaning to them when using them across different documents/contexts.

[2021-03-08 14:02] allforabit opened #135 "Performance issues with sparql queries"
Thanks for the great library. It's working very well for me for the most part. However I'm just running into issues with the speed of the sparql queries. I'm just surprised how quickly they slow down as the datastore gets bigger. I notice that the get methods don't seem to really slow down at all and stay within a few hundred milliseconds. I do realize that the sparql queries are doing a lot more

[2021-03-08 14:41] jacoscaz commented on #135
Hello @allforabit !

I believe Comunica might be sorting by date in-memory, hence having to basically go through the entire dataset before being able to apply the `OFFSET` and `LIMIT` clauses.

This is likely due to the fact that Comunica, which is the framework upon which Quadstore's SPARQL engine is built,  does not have a way to pass filtering expression down to quadstore in order to optimize o

[2021-03-08 14:47] rubensworks commented on #135
This should indeed make this a lot faster.

However, 10K triples is not _that_ much, so 30 seconds sounds like a lot, even without this optimization.
I do see an `OPTIONAL` in your query. Could you check how fast it is without this `OPTIONAL` clause?
If it now becomes a lot faster, we might experiencing the same problem as was reported in https://github.com/comunica/comunica/issues/772.

[2021-03-08 16:02] allforabit commented on #135
Thanks both for the speedy replies! Yes @rubensworks I will try that. I should note that I'm generating 10k entities, each with a 5 quads. So it's probably more like 50k triples and may explain the figures better.

When it change the query to:
[code]
Triple count: 59954
╔═══════════════════════════╤═══════╗
║ With optional             │ 21322 ║
╟───────────────────────────┼───────╢
║ Without optio

[2021-03-08 21:21] allforabit commented on #135
Just to clarify, @jacoscaz it doesn't matter that it's a date type? Once it's ordered and is using limit and offset it will have the same performance characteristics?

There was a `search` method on quadstore a while back. Do you think this would have the same issues? If that's not the case I might try to integrate it into my project as a temporary workaround.

[2021-03-09 09:52] jacoscaz commented on #135
@allforabit

I'm not sure I understand your first question but if you're asking whether using date literals may incur in performance penalties after we're done with with new RDF/JS spec... No, it should not. Quadstore indexes common numeric-ish literals (numbers, dates) using lexicographical representations that allow for range-based queries to be passed down to the persistence layer.

WRT to the

[2021-03-09 09:58] rubensworks commented on #135
Those are interesting results! So it looks like the amount of triples really form the main bottleneck.
In this case, the filter/order pushdown seems like the only solution to properly optimize this.

[2021-03-09 10:23] allforabit commented on #135
@jacoscaz thanks! My question was more about the current version and if it made a difference what type it was sorted on and I think it's answered really in the performance test that it doesn't. That's great though that date will work similarly to other primitives once the new approach is added. I've been playing around with node quadstore for a while and really like the direction of aligning with

[2021-03-09 14:30] allforabit commented on #135
How feasible do you think it would be for me to take an initial stab at implementing the feature? I would probably need some guidance (the general approach, relevant files, etc) I know it may be a bit too involved, given that it spans the two projects.

[2021-03-10 08:46] jacoscaz commented on #135
@allforabit happy to hear you appreciate Quadstore's overall direction as a project. WRT to working on this, I should mention that I've never built something quite like Quadstore before and I am relatively new to RDF, too. I guess we're in the same boat!

That said, Comunica is a pretty complex project and I've spent some time doing much smaller tasks to get familiar with it, mostly related to bun

[2021-03-10 08:47] jacoscaz commented on #134
I should be able to look into this within a week from today. Apologies for the latency, I'm having a couple of very intense weeks.

[2021-03-10 13:51] allforabit commented on #135
@jacoscaz that's very impressive that quadstore is your first foray into rdf! I'm mostly just trying to wrap my head around how to use the different libs and getting an understanding of the underlying technologies. Thankfully I'm getting much more proficient with it all lately.

Yes that's the impression I get that comunica is a fairly big and complex project. That's good advice, I'll have a play

[2021-03-11 08:35] jacoscaz commented on #134
@rubensworks I've managed to reproduce the problem with `N3.Store`.

I've modified the script provided by @ehupin to be able to easily switch between `quadstore` and `N3.Store`. It still uses a bunch of utils and types from `quadstore` as I haven't had the time to make it fully agnostic but the main parts are now implementation-independent:

- I'm using  RDF/JS interfaces to import quads (`.import

[2021-03-11 08:44] rubensworks commented on #134
Hmm, that's not good.
Not sure what could cause this.
My first guess would be somewhere here https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-quadpattern/lib/ActorQueryOperationQuadpattern.ts

Now that I think of it, this sounds similar to https://github.com/comunica/comunica/issues/773, which I initially thought to be a parsing issue, but may very well have the same

[2021-03-11 10:12] jacoscaz commented on #134
@rubensworks I'll see whether I can replicate this in a new test within Comunica's test suite and open an issue over there if so.

[2021-03-11 17:50] jacoscaz commented on #134
Opened issue upstream: https://github.com/comunica/comunica/issues/795

[2021-03-18 16:40] jacoscaz commented on #135
@allforabit apologies for the delay, busy weeks. What about tomorrow morning, March 19th @ 11:00 AM UTC+1 ?

[2021-03-18 20:25] allforabit commented on #135
This sounds good, I'm UTC+0 so close to your timezone (Ireland). Let me know how to best get in contact with you.

[2021-03-28 20:38] jacoscaz commented on #134
For posterity: this has required some work in both Comunica and sparqlee, the latter being Comunica’s SPARQL expression evaluator. I think we’re relatively close to fixing this and the fix will surely be included in the next version of quadstore. Relevant issues and PRs:

- https://github.com/comunica/comunica/issues/795 (upstream issue)
- https://github.com/comunica/sparqlee/pull/80 (PR, closed)

[2021-03-29 09:49] jacoscaz commented on #135
@allforabit I'm closing this one to keep the conversation in #115 .

[2021-04-04 17:12] jacoscaz commented on #134
Released in `quadstore@9.0.0`!

[2021-04-04 17:12] #134 closed

[2021-04-04 17:12] jacoscaz commented on #129
Released in `quadstore@9.0.0`!

[2021-04-04 17:12] #129 closed

[2021-04-06 15:39] jacoscaz commented on #115
@gsvarovsky @allforabit @rubensworks tagging you all as I know you're interested in this.

[2021-04-06 18:30] jacoscaz commented on #115
Work ongoing in https://github.com/beautifulinteractions/node-quadstore-comunica/tree/sparql-optimization

[2021-04-07 10:04] gsvarovsky opened #136 "Type declarations depend on dev dependencies"
When importing quadstore@9 into a dependent project using Typescript:
[code]
These modules are dev dependencies.

As types have no runtime cost I think it might be fine to make `@comunica/types` a core dependency. However for `sparqlalgebra` a bundler might pull that project into the runtime. Perhaps [type-only imports & exports](https://www.typescriptlang.org/docs/handbook/release-notes/typescrip

[2021-04-07 10:23] jacoscaz commented on #136
This is an unfortunate situation that I'm not really sure how to get out of.

1. If I add those dependencies as normal dependencies, NPM will install them and unnecessarily inflate the `node_modules` folder with stuff that is not really needed.
2. If I add those dependencies as normal dependencies, bundlers might indeed pull them in (and their own dependencies!). However, this does looks like it c

[2021-04-07 10:34] gsvarovsky commented on #136
To just complete the picture for my use-case: m-ld-js uses the sparqlalgebrajs factory to construct algebra objects. So I have to pull in this module myself anyway. This means it's bundled twice, as it's already in the quadstore-comunica bundle.

[2021-04-07 10:38] jacoscaz commented on #136
Oh boy. I was not expecting that. Apologies, then - your bundle size must have grown a little bit. The reason I moved sparqlalgebrajs inside the `quadstore-comunica` bundle is that parsing needs to happen within Comunica for some SPARQL tests to succeed. I will revert to having `sparqlalgebrajs` outside of that bundle while still keeping Comunica's SPARQL parser actor around.

[2021-04-07 10:38] gsvarovsky commented on #136
I think it may be possible for `quadstore-comunica` to _export_ all of `sparqlalgebrajs` and the types from comunica.

[2021-04-07 10:43] jacoscaz commented on #136
This would be possible, yes, but it would not lend itself well to use cases dealing with custom Comunica configurations other than `quadstore-comunica`. Reverting to shipping `sparqlalgebrajs` as a dependency of `quadstore` but keeping the SPARQL parser actor in the `quadstore-comunica` bundle and forcing the latter to require `sparqlalgebrajs` via Webpack (as it was pre-9.0) should make everyone

[2021-04-07 10:46] gsvarovsky commented on #136
Thanks! No problem & no huge rush.

The good news is that with a temporary import of these deps, m-ld-js+quadstore@9 is passing all unit & compliance tests!

[2021-04-07 13:02] jacoscaz commented on #136
Hello again @gsvarovsky !

Could you please try again with `quadstore@9.1.0-beta.0` and `quadstore-comunica@1.1.0-beta.0`?

[2021-04-07 13:12] gsvarovsky commented on #136
It works!

[2021-04-07 13:24] jacoscaz commented on #136
Fixed in `quadstore@9.1.0` and `quadstore-comunica@1.1.0`.

[2021-04-07 13:24] #136 closed

[2021-04-09 18:30] jacoscaz commented on #115
Some notes for posterity and to keep anyone who might be following this in the loop:

I had begun by thinking about optimization scenarios that could gracefully fallback to their non-optimized / raw alternatives. The idea was to modify the tree of `Algebra.Operation`s produced by Comunica's SPARQL parser actor through a new optimizer actor that would extract optimizable operations into constructs

[2021-04-11 20:56] jacoscaz commented on #115
For posterity, some work needed to be done in Comunica to allow optimizer actors to modify the context and have the modified version passed forward to actors further down the chain. PR: https://github.com/comunica/comunica/pull/808

[2021-04-21 13:51] moissinac opened #137 "Install process documentation"
Hello

I'm really interested by your sparql store implementation with nodejs
But, i'm stuck at the installation point: the documentation dosn't exist?
I did:
[code]
with success.
Then?

[2021-04-21 15:43] jacoscaz commented on #137
Hello @moissinac !

You're right, the project could do with some more documentation on how to instantiate the store. I'll make sure to add some over the next few days. This said, you can follow the example set here:

https://github.com/beautifulinteractions/node-quadstore/blob/3e355dac58b3ce46d85c046eb9608006dfe9279b/spec/engine.ts#L23-L27

[2021-09-03 05:52] ProvocaTeach opened #138 "ES Module support"
The other day I was looking at [Quadstore’s page on Skypack](https://www.skypack.dev/view/quadstore) and noticed there were a few missing checks. Namely, the package lacks an ES module entry point and an export map.

Are there any plans to adapt Quadstore to the ES module ecosystem? Browser support is intended to be baked in, and this would help cut out the Webpack/Browserify middleman. Node suppo

[2021-09-03 07:32] jacoscaz commented on #138
Hello @ProvocaTeach! Yes, quadstore will eventually be adapted to the ES module ecosystem. In fact, these used to be an open issue to track that: https://github.com/beautifulinteractions/node-quadstore/issues/97 .

However, as of the last time I checked, native support for ES module made little sense as our dependencies were still based on the CommonJS module spec, thus forcing the use of one such

[2021-09-04 08:08] ProvocaTeach commented on #138
Ah, makes sense. I am a lover of the Semantic Web, and I was hoping to build a basic website with a custom CMS on top of Quadstore. It could probably be done with Node, but I am more familiar with the ES module ecosystem (as a relative newcomer to JS).

Deno is nice because there is little package management; you just `import` directly from the CDN, and it caches the module (much like a browser wo

[2021-09-04 08:20] jacoscaz commented on #138
Hi @ProvocaTeach !

Understood and that’s an interesting use case. I know very little about Deno and was completely unaware of Skypack.

I would be happy to try and tweak things to make Quadstore available through Skypack, although you’d surely have a much easier life if you were to get started using Node. Quadstore implements one of the RDF/JS specifications, a collective effort to standardize in

[2021-09-04 08:28] jacoscaz commented on #138
If you believe you’ll continue with Deno, feel free to open a dedicated issue as that’s a separate  topic, of which support for ES modules is a prerequisite.

[2021-09-04 23:21] ProvocaTeach opened #139 "Deno support"
Hello, I am opening an issue for supporting [Deno](https://deno.land) via ES module importing out-of-the-box, per discussion in issue #138 at the suggestion of @jacoscaz.

Deno is a runtime for JavaScript created by Ryan Dahl (who also built Node). Benefits of Deno include:

- Direct support for TypeScript
- Security by default
- Browser-like behavior whenever possible

Members of the Quadstore te

[2021-10-06 13:13] KonradHoeffner commented on #137
I am stumbling over the same problem, a complete runnable example would be great.
The following seems to suffice:

[code]

[2021-10-06 13:19] KonradHoeffner commented on #137
newEngine() does not work:

[code]

[2021-10-07 07:50] KonradHoeffner opened #140 "QOL: throw error on invalid backend parameter"
I made the mistake of using `backend:memdown` instead of `backend:memdown()`in the constructor of Quadstore:

[code]

However this only throws an error when calling `store.open`:
[code]

And the error message does not point out that the db is in the wrong format. It would be helpful if the constructor would throw an error that the backend is invalid.

[2021-10-07 09:11] KonradHoeffner commented on #140
I'm unfortunately not familiar enough with the codebase to create a PR but I shared our use case in #112, thanks!

[2021-10-07 09:46] KonradHoeffner opened #141 "Frontend usage with Vite?"
Is it possible to use node-quadstore in the frontend with Vite instead of webpack?
I tried to adapt https://github.com/beautifulinteractions/node-quadstore-webpack-bundle to [Vite](https://vitejs.dev) in the following way:

[code]

But it throws the following error:

[code]

Even prepending this polyfill doesnt help:

[code]

When I reorder the import statements and add leveljs to the end of them,

[2021-10-08 12:41] jacoscaz commented on #141
@KonradHoeffner seems like you're getting there! This should be fixable by making Vite fallback to something like https://www.npmjs.com/package/@marshallswain/events for the `events` module.

[2021-10-08 12:43] KonradHoeffner commented on #141
Next error:

[code]

[2021-10-12 12:55] jacoscaz commented on #141
@KonradHoeffner any progress on using quadstore with Vite?

[2021-10-13 09:48] KonradHoeffner commented on #141
Great advice, thanks! The following doesn't report any errors, I will import and query data and report back if there are any problems with that.

[code]

[2021-10-13 13:28] KonradHoeffner opened #142 "SPARQL: error selecting variables in OPTIONAL clauses"
Selecting a variable that only occurs in an optional clause results in an error such as this:

[code]

## Example Query

[code]

The query works perfectly on a Virtuoso SPARQL endpoint.

[2021-10-13 13:29] jacoscaz commented on #141
That's good! As for the queries, I would suggest starting with using the `memdown` backend rather than `level-js` and see where that takes you. `level-js` uses IndexedDB, which in my experience can be incredibly slow at times.

Other than that, depending on the number of quads and the kinds of queries you are running, you might be stumbling into https://github.com/beautifulinteractions/node-quadst

[2021-10-19 14:32] #141 closed, assigned to nobody

[2021-10-20 07:42] jacoscaz opened #143 "BUNDLE: reduce bundle size of quadstore-comunica by working on immutable.js and decimal.js"
There are two potential avenues that might lead to shaving significantly more bytes out of `quadstore-comunica`'s bundle:

1. using something other than Immutable.js and/or enabling tree-shaking so that only Immutable's `Map` ends up in the bundle
2. using one of [the alternatives to decimal.js](https://github.com/MikeMcl/decimal.js#features)

Both of these require upstream work.

Number 1. in par

[2021-10-24 16:55] jacoscaz opened #144 "PERFORMANCE: window sorting"
Although the current sorting mechanism seems to be reasonably fast already, there's an optimization that could make it even faster.

As it stands today, any difference between the requested order and the order provided by the selected index leads to a complete re-ordering of results. However, there are cases in which partial re-ordering would be a better pick. For example, a requested ordering of

[2021-10-25 08:36] #144 closed, assigned to nobody

[2021-10-29 21:20] jacoscaz commented on #143
Potential alternatives to Immutable.js' `Map`:

- https://www.npmjs.com/package/hamt
- https://www.npmjs.com/package/@typed/hashmap

[2021-11-08 21:51] retog commented on #138
As node-quadstore works in the browser I'd assume that rollup can be used to create an es-module that works in the browser and in demo. For demo you might consider publishing the resulting module on demo.land/x
/Cc #139

[2021-11-10 22:45] retog commented on #138
Some code using webpack to create a module that exports a quadstore instance: https://github.com/retog/quadstore-module

It bases on this hack https://stackoverflow.com/a/60010871/1455912 by @colxi.

[2021-11-11 05:56] jacoscaz commented on #138
Thank you @retog , I really appreciate this. Bundling clearly works! However, the question now becomes whether to ship a single bundle or multiple ones and what to include. For instance, should an `AbstractLevelDOWN` backend be included? Probably not as there are multiple to choose from even for browser use (`level-js` and `memdown`). On the other side, last time I checked none of the available im

[2022-01-28 18:01] jacoscaz opened #145 "DOCS: add a basic example to README.md"
The README.md file is missing a simple example to help people get started

[2022-02-17 20:16] #143 closed

[2022-02-17 20:35] jacoscaz commented on #140
Done, will be included in the next version.

[2022-02-17 20:35] #140 closed

[2022-02-18 17:08] jacoscaz commented on #142
Fixed, will ship with next major version (10.0.0)

[2022-02-18 17:08] #142 closed

[2022-02-20 16:52] jacoscaz commented on #145
Done!

[2022-02-20 16:52] #145 closed

[2022-04-29 08:18] jacoscaz opened #146 "Add abstraction layer for running quadstore in a separate thread"
In some cases, quadstore would be better off running in a separate thread due to the in-memory query evaluation nature of Comunica which often becomes blocking to other aspects of the host application. Note that this is bound to become less of an issue with #115 , although still worth looking into.

[2022-04-29 10:54] rubensworks commented on #146
Slightly related to https://github.com/comunica/comunica/issues/157

[2022-06-20 10:51] jacoscaz opened #147 "Compare to Oxigraph"
Oxigraph (https://github.com/oxigraph/oxigraph) is a graph database implementing the SPARQL standard built in Rust and using RocksDB as its storage backend. It comes with JavaScript bindings, which make it usable in Node.js too (https://www.npmjs.com/package/oxigraph) although storage is limited to in-memory. Given the use of a lower-level language with an in-memory backend, I expect it to be sign

[2022-06-20 10:59] Tpt commented on #147
@jacoscaz Thank you for tagging me!
Oxigraph JS is currently compiled to WASM making hard to use the disk for storage. I am currently considering rewriting it as a native NodeJS extension to allow easy and fast disk access.

About performance comparison here is a paper who compared Oxigraph with other JS SPARQL implementations: https://openreview.net/pdf?id=CXLmXMb2TJ (see section 4.3).

[2022-06-20 11:09] jacoscaz commented on #147
@Tpt thank you for that link! I am very curious as to the extent of the performance gap between Oxigraph and Quadstore in the following realms:

1. pure quad ingestion speed (the [RDF/JS Sink#import method](https://rdf.js.org/stream-spec/) method)
2. SPARQL query evaluation

There's no way for Quadstore to match Oxigraph, of course, but the Node.js bindings make the latter a nice reference point f

[2022-06-20 11:10] rubensworks commented on #147
Would be interesting to redo this evaluation using Comunica 2.x (since a lot has changed internally regarding join query planning). And perhaps, some kind of easily re-runnable pipeline would be valuable as well (e.g. via https://github.com/rubensworks/jbr.js).

[2022-06-20 11:19] Tpt commented on #147
I would not be so sure:
- on the ingestion side Oxigraph needs to convert JS/V8 values to Rust values and it has a significant overhead (c.f. the paper).
- on the query side, there is no "efficient" range-based query support yet in Oxigraph so Quadstore might have an edge there.

To further the comparison, one might even want to convert RDF/JS expression to SPARQL queries and run them using Oxigra

[2022-07-21 05:52] jacoscaz commented on #95
@jeswr we don't really need RDF-star internally so I haven't given this much thought over the last few months. Last I looked at this, however, I struggled with how to make quads-as-terms easily queryable. The only way I've come up with so far is to convert RDF-star triples into named graphs:

[code]

would become

[code]

However, doing this would likely present a challenge when in the presence of

[2022-08-01 17:25] jacoscaz opened #148 "Refactor BatchingIterator to do without TransformIterator"
https://github.com/belayeng/quadstore/blob/aed7796a83d85d5a24e9f76f15e70e8f7015268f/src/utils/index.ts#L88

[2022-08-02 14:47] #148 closed

[2022-08-03 08:13] jacoscaz opened #149 "Re-enable tests for RocksDB when rocks-level becomes available"
https://github.com/Level/community#how-do-i-upgrade-to-abstract-level

[2022-08-04 13:47] jacoscaz commented on #147
Preliminary performance comparison:

[code]

yields:

[code]

@Tpt am I reading from oxigraph correctly?

[2022-08-04 14:17] jeswr commented on #147
As requested from @jacoscaz - running on a dell XPS 15 9520 with 16GB of ram

[code]

[2022-08-04 14:22] Tpt commented on #147
Hi! Yes!

The results are not surprising to me. JS <-> Oxigraph WASM conversions are very slow so Oxigraph compiled to WASM is only competitive if a lot of computations happen inside of the WASM code. It is not the case with this benchmark.

[2022-08-04 14:34] jacoscaz commented on #147
Added a couple of tests that should bypass the SPARQL layer in both quadstore and oxigraph (although the latter doesn't seem to support streaming, so we're getting all quads in one invocation of `match()`).

[code]

[2022-08-04 19:00] jacoscaz commented on #147
@Tpt interesting!

Do you happen to have some rough quad/sec numbers at hand when it comes to doing what follows while using Oxigraph from Rust with the RocksDB backend?

- sequential reads from one index, without SPARQL
- sequential reads for the query `SELECT * FROM { ?s ?p ?o }`

[2022-08-05 19:34] Tpt commented on #147
Sure, here it is on my laptop (min, median, max):

[code]

Here is the bench source code: https://gist.github.com/Tpt/1805ff8cdca00baa3ddb941c84a21894

[2022-08-06 07:58] jacoscaz commented on #147
Even more interesting! Oxigraph seems to write roughly 2x faster than quadstore, read 1.5x faster and evaluate SPARQL 5x faster. This is a lot better than I had hoped for already. We should def. trade notes on our (de)serialization strategies!

Mh... Actually, that is assuming our machines are roughly equivalent. Could you run the JS-side comparison between quadstore and oxigraph on your own machi

[2022-08-06 08:25] Tpt commented on #147
Sure. Here are my results:
[code]
Your machine seems much faster than mine.

There is also the discrepency that Oxigraph in WASM is fully in memory while quadstore is backed on Disk. Native Oxigraph provides the two modes. Here are the results on the same machine (writes are nearly twice slower on disk but reads are fairly similar. The workload is likely small enough to make RocksDB keep everythin

[2022-08-06 09:01] jacoscaz commented on #147
The comparison I am most interested here, actually, is native Oxigraph on disk (Rust, RocksDB) vs. Quadstore on disk (Node, LevelDB). Quoting from your comments above with slight modifications for clarity, the numbers on your machine should be:

[code]

and

[code]

This is extremely helpful as it gives me a reference point to aim for when it comes to what can be achieved with a LevelDB-ish backen

[2022-08-29 10:17] jacoscaz commented on #138
@ProvocaTeach @retog Very good progress on this. The latest betas `quadstore@11.0.0-beta.4` and `quadstore-comunica@3.0.0-beta.3` both ship with two different builds, a CJS and an ESM one. The reference repo for bundling and shipping browser-side is now consuming and producing ES modules: https://github.com/belayeng/quadstore-webpack-bundle/tree/5646249e46daa67a763a28465058161e4bcfb6d8

[2022-08-30 12:26] jacoscaz commented on #139
Thanks to the recent addition of separate ESM vs. CJS builds, partial support for Deno is now available through Skypack in `quadstore@11.0.0-beta.5`:

[code]

Further work is needed to add support for Deno in `quadstore-comunica`, thus enabling SPARQL queries in Deno, and likely depends on fixing this upstream issue: https://github.com/RubenVerborgh/SPARQL.js/issues/139 .

[2022-08-30 15:39] jacoscaz commented on #138
Closing - will be a part of the upcoming `11.0.0` release!

[2022-08-30 15:39] #138 closed

[2022-08-30 15:39] jacoscaz commented on #139
Closing - will be a part of the upcoming `11.0.0` release!

[2022-08-30 15:39] #139 closed

[2022-08-30 19:16] jacoscaz commented on #147
Closing this as we now have a dedicated test in the [quadstore-perf](https://github.com/belayeng/quadstore-perf) repo and some ideas as to where we stand in comparison to Oxigraph native. Thanks @Tpt !

[2022-08-30 19:16] #147 closed

[2022-09-01 10:41] jacoscaz opened #150 "Modernize test suite"
Upcoming performance work in #115 will require a significant amount of tests. Quadstore's test suite dates back to the first few releases and needs to be brought into the present before it becomes too big to be refactored.

TODO:

- [ ] Convert the entire suite to TypeScript and run tests via `ts-node`
- [ ] Refactor custom assertions to be independent of `should`
- [ ] Move away from `should` to

[2022-09-01 11:41] rubensworks commented on #150
Please keep me posted on this. We should eventually have a similar thing for comunica :-)
Perhaps https://www.npmjs.com/package/@web/test-runner may help.

[2022-09-01 12:15] jacoscaz commented on #150
I had already started thinking along similar lines; the idea would be to actually ship the test suite as a separate web application to be bundled into a single ES module with Webpack and then loaded browser-side via `puppeteer`.

[2022-09-02 08:24] jacoscaz opened #151 "Debug issues when running in bun"
Bun is a new JS runtime based on JavaScriptCore as opposed to Node's / Deno's V8 (https://bun.sh) . With the release of `quadstore-comunica@3.0.2`, both `quadstore` and `quadstore-comunica` seem to compile and load fine but results vary based on the number of either returned items or processed items:

- with the `query-all.js` perf test things break when loading more than exactly 25 quads into the

[2022-09-02 08:32] jacoscaz commented on #150
Note to self: the testing framework should not depend on a CLI tool (`mocha`, `jest`, ...) but ship as a library supporting multiple JS runtimes (`tape` could be a good candidate).

[2022-09-12 08:03] jacoscaz commented on #150
I think I've found a decent way forward with `mocha`. I've prototyped it at https://github.com/jacoscaz/isomorphic-testing-demo . @rubensworks

[2022-09-12 08:13] rubensworks commented on #150
@jacoscaz Interesting! Do you think this approach would only work with mocha? Or would jest also work?

[2022-09-12 08:37] jacoscaz commented on #150
Insofar as I can understand Jest doesn’t officially support running in browsers whereas mocha and jasmine (amongst others) do. There’s likely a way to do it but it may also be impractical. This approach should be generalizable to any framework that can be used browser-side.

[2022-09-13 15:06] gsvarovsky opened #152 "base64Binary literals may not deserialise correctly with classic-level"
e.g.:
[code]

does not deserialise correctly when retrieved in classic-level.

Test case (patch to existing `quadstore.prototype.get.js` test):

[code]

[2022-09-20 09:12] gsvarovsky commented on #152
I have a suite of "compliance" tests, like system tests, in which one sub-suite uses asymmetric cryptography to sign and verify messages between clones. That involves storing public keys in the data. All those tests fail because the public keys are corrupted when retrieved. That's what led me to write the quadstore test included in the ticket. No other tests fail – they whizz through!

In more raw

[2022-09-20 09:12] gsvarovsky commented on #152
I'd be more than happy to look into this myself, if you like!

[2022-09-21 07:32] jacoscaz commented on #152
Hello! Apologies for the latency, got married this weekend :). I'm still looking into this regression, for which we need specific tests. Before my break I did manage to discover that this seems to be related to any term that serializes to a string longer than a specific amount of chars. The type of the term itself appears to make no difference.

[2022-09-21 07:53] jacoscaz commented on #152
Here's two `value` arrays: the first one related to a breaking test case in which I'm serializing a literal having length of 128 chars, the second one related to a passing test case in which I'm serializing the same literal minus one character.

[code]

The array even changes in length (!!!). Weird.

[2022-09-21 08:12] jacoscaz commented on #152
This doesn't happen with the `memory-level` backend. Also, tests reproducing the serialization steps for a single term seem to pass with flying colors:

[code]

[2022-09-21 08:25] jacoscaz commented on #152
This also doesn't happen when reproducing the steps for (de)serializing a single quad:

[code]

[2022-09-21 09:07] jacoscaz commented on #152
@gsvarovsky could you please test again with version `11.0.3-beta.1` which I've just published to NPM?

[2022-09-21 09:20] gsvarovsky commented on #152
<img width="100" alt="image" src="https://user-images.githubusercontent.com/19226962/191466695-60e5cc13-77ed-45ce-8fe9-ae77bf755921.png">

awesome. 🫡

[2022-09-21 09:28] jacoscaz commented on #152
All right! Will add some more tests and publish a patch version. Thank you for flagging this, it was a major regression.

[2022-09-21 09:45] jacoscaz commented on #152
Version `11.0.3` is now on NPM!

[2022-09-21 09:45] #152 closed

[2022-09-26 21:10] jacoscaz commented on #150
Done! With today's work, tests always run both server-side (via the usual `mocha` cli tool using the `ClassicLevel` and `MemoryLevel` backends) _and_ browser-side (using the `BrowserLevel` and `MemoryLevel` backends). To achieve the latter the test suite is compiled using `tsc`, bundled up using `webpack` and then loaded browser-side using `puppeteer`; the overall outcome (total and failures) is r

[2022-09-26 21:10] #150 closed

[2022-11-06 16:55] lgazo opened #153 "basic memory setup does not result in consistent results"
Hi,

I have set up basic Quadstore setup according to the example with:

[code]

I have ingested with

[code]

following `graph_json`:

[code]

When I run:

[code]

I get following corrupted results:

[code]

You can see that **the last item** has different `graph` and also weird `value` in `object`.

I have also tried it with default graph, but no difference.

SPARQL engine query like
[code]
 lea

[2022-11-06 19:01] lgazo commented on #153
I found out where the problem was:

[code]

Is not correct. It should be a NamedNode:

[code]

Then it works as expected.

[2022-11-06 20:57] jacoscaz commented on #153
Hello @lgazo ! Yes, quadstore expects all quads and terms to implement the [RDF/JS Data Model interfaces](https://rdf.js.org/data-model-spec/). I see you've already found the issue but perhaps we can improve developer experience by adding a few checks to make sure inputs are correct. I'll close this issue and open a dedicated one.

[2022-11-06 20:57] #153 closed

[2022-11-10 09:00] bolerio opened #154 "simple usage example from docs doesn't work"
First, it seems like it's missing a `store.open` call right after `new Engine`:

[code]

Then the call to `const { items } = await store.get({});` does return the added quad so it seems like it's in the store alright. However, both:

`await store.match(undefined, undefined, undefined, undefined)`

and:

`await engine.query('SELECT * {?s ?p ?o}')`

seems to be returning empty streams.

I have this

[2022-11-10 10:01] jacoscaz commented on #154
Hello @bolerio ! Thanks for raising this, I'll have a look and report back.

[2022-11-10 10:19] jacoscaz commented on #154
@bolerio could you test the following? Does it still result in no bindings nor quads returned by the streaming interfaces?

[code]

[2022-11-10 18:13] bolerio commented on #154
Thanks @jacoscaz for the quick reply. Using 'on' to iterate on the return streams `quadsStream` and `bindingStream` helped indeed. I was using the `read()` function trying to follow the API docs for that Stream interface.

Incidentally, if I use `bindingStream.on` with function call syntax (as in your code) in a TypeScript, it does not compile, I need to do something like `bindingStream['on']`. Th

[2022-11-11 21:58] jacoscaz commented on #154
@bolerio I understand now. The `Readable#read()` method may return `null` even as the stream has not ended, depending on whether there's data to be read in the internal buffer. To wait for data to be available, listen for the `readable` event. The node documentation has a lot more on this. And yes, when using my example in TypeScript a slight modification is needed:

[code]

I'll update the docume

[2022-11-13 17:21] jacoscaz commented on #154
Documentation updated - thanks for filing this!

[2022-11-13 17:21] #154 closed